@charset "utf-8";
html,body{width:100%;min-width:320px;height: 100%;position: relative;}
body{font: 16px/150% "微软雅黑",Hiragino Sans GB,"黑体",Arial, Helvetica, sans-serif;}
html,body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,input,textarea,select,address,caption,cite,code,dfn,em,th,var,abbr,acronym{font-size:100%;font-style:normal;}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;}
ul,ol, li{list-style:none;}
img,object,select,input,textarea{vertical-align:top;}
input,select,textarea{ outline:none;font-size:12px;}
a{text-decoration:none;color:rgba(255,255,255,.0);transition:all .2s ease 0s;-ms-transition:all .2s ease 0s;-moz-transition:all .2s ease 0s;}
ins,a:hover{text-decoration:none;}
a:visited{text-decoration:none;}
q:before,q:after{content:"";}
.h1{ clear:both; height:1px;}
.h2{ clear:both; height:1px;}
.h5{ clear:both; height:5px;}
.h10{ clear:both; height:10px;}
.h20{ clear:both; height:20px;}
.h50{ clear:both; height:50px;}
.h{display:none;}
.L{ float:left;}
.R{ float:right;}
.C:after{ content:"";display:block;clear:both;}
/*引入字体*/
@font-face{
  font-family: fontName;
  src:url(../fonts/bodoni-bookitalic-webfont.woff) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: fznb;
  src:url(../fonts/FZNBSJW--GB1-0.woff) format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/********顶部及导航样式开始***********************/
.loading{ width:100%; height:100%; position:absolute; top:0; left:0; background: url(../images/map-bg.jpg); z-index:1500;}
.loading .loadbox{ width:400px; height:260px; position:absolute; top:50%; margin-top:-130px; left:50%; margin-left:-200px; background: url(../images/load.png) top center no-repeat; text-align:center; font-size:14px; color:#6d5b52; padding-top:150px; line-height:35px; }
.topmenuBox{ width:100%; height:100px; position:fixed; top:0; left:0;  z-index:100;}
.topmenuBox-yy{ width:100%; height:3px; position:fixed; top:100px; left:0;background:#684643;  z-index:100;}
.topmenuBox-yy1{ width:250px; height:3px; position:absolute; top:0px; left:0;background:#cc0000;}
.topmenuBox .logo{ width:205px; height:65px; position:absolute;top:10px; left:30px; background: url(../images/logo.png) center no-repeat;background-size: 100% auto;}
.topmenuBox .top-rightmenu{ height:25px; position:absolute; top:20px; right:30px;}
.topmenuBox .top-rightTel{ float:left; width:235px; height:25px; border:1px solid #a68a72; font:13px "微软雅黑" "宋体"; line-height:24px; color:#a68a72; text-align:center;}
.topmenuBox .top-rightmenuBox{float:left; width:60px; height:25px; font-size:12px;}
.topmenuBox .top-rightmenuBox dd{ width:25px; height:25px; float:left;margin-right: 5px; cursor:pointer; position:relative;}
.topmenuBox .top-rightmenuBox dd a{ width:25px; height:25px; display:block;}
.topmenuBox .top-rightmenuBox .bt1 a{background:#cc0000; color:#fff; text-align:center; line-height:25px;}
.topmenuBox .top-rightmenuBox .bt1 a:hover{color:#ff0;}
.topmenuBox .top-rightmenuBox .bt2 a{background:#a68a72; color:#fff; text-align:center; line-height:25px;}
.topmenuBox .top-rightmenuBox .bt2 a:hover{background:#cc0000;}

.topmenuBox .top-menu{ width:910px; height:40px; position:fixed; top:40px; right:30px; padding-top:10px; z-index:1010;}
.topmenuBox .top-menu .top-maxnav {	LIST-STYLE-TYPE: none;TOP: 0px; LEFT: 0px; margin-left:0px; }
.topmenuBox .top-menu .top-maxnav LI {POSITION: relative; LIST-STYLE-TYPE: none; FLOAT: right; margin:0px; font:15px "微软雅黑" "宋体"; margin-left:1px;}
.topmenuBox .top-menu .top-maxnav LI A {TEXT-ALIGN: center; LINE-HEIGHT: 30px;  DISPLAY: block; FLOAT: left; HEIGHT: 30px;  text-decoration:none;}
.topmenuBox .top-menu .top-maxnav LI:hover A { text-decoration:none;}
.topmenuBox .top-menu .top-maxnav LI A:hover {COLOR: #fff;text-decoration:none;}
.menubtn a{ width:81px; height:30px; overflow:hidden; background:#cc0000; line-height:30px; color:#fff}
.menubtn a:hover{ width:81px; height:30px; overflow:hidden; background:#cc0000; line-height:30px;}
.menubtn1 a{ width:100px; height:30px; overflow:hidden;line-height:26px;  background:#e6dedb;  COLOR:#7a695e;}
.menubtn1 a:hover{ width:100px; height:30px; overflow:hidden; background:#cc0000; line-height:30px;}
/********顶部及导航样式结束***********************/


/********底部信息样式开始***********************/
.bigbottombg{ width:100%; height:148px; position:fixed; left:0px; bottom:0px; z-index:1200; border-top:1px solid rgba(177,156,134,.6); background: rgba(177,156,134,.6);}
.bigbottombg .btodd{ position:absolute; width:100px; height:8px; top:0; left:50%; margin-left:-100px; background:url(../images/bottom-dd.png) top center no-repeat;}
.bottombg{ width:100%; height:140px; position:fixed; left:0px; bottom:0px; z-index:1200;background:url(../images/bg.png); border-top:1px solid rgba(177,156,134,.5)}
.bottombg .left{ float:left; width:350px; height:140px; background:url(../images/ERWEIMA.png) center center no-repeat;}
.bottombg .right{ float:right; width:450px; height:150px;}

.bottombg .right .newx{ width:100%; margin-left:0px; height:45px; line-height:25px; text-align:right; border-bottom:1px solid rgba(177,156,134,.7); padding:10px 5%;}
.bottombg .right .newx .news { width:100%;height:25px; line-height:25px; text-align:left; font-size:14px; color:#59391e;}
.bottombg .right .newx .news .newstitle{ float:left; width:75%; height:25px; line-height:25px; text-align:left; font-size:14px; color:#59391e;;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.bottombg .right .newx .news .newsData{ float:left; width:22%; height:25px;  margin-left:0px; line-height:25px;text-align:right; font-size:14px; color:#59391e;;white-space:nowrap;overflow:hidden;text-overflow:}
.bottombg .right .newx .news:hover .newstitle{ color:#900;}
.bottombg .right .newx .news:hover .newsData{ color:#000;}
.bottombg .right .music{ width:100%; margin-left:0px; height:40px; line-height:25px; text-align:right; border-bottom:1px solid rgba(177,156,134,.7); background:url(../images/botnewbg.png)25px center no-repeat; padding:10px 5%;}
.bottombg .right .info{ width:100%; margin-left:0px; height:auto; line-height:25px; text-align:left;padding:10px 5%; font-size:12px; color:rgba(89,57,30,.7); line-height:15px;}

.bottombg .center{height:150px; margin-left:350px; margin-right:450px; border-left:1px solid rgba(177,156,134,.7); border-right:1px solid rgba(177,156,134,.7)}
.bottombg .center  li{ float:left;  width:14.285%; height:140px; border-left:1px solid rgba(177,156,134,.7);}
.bottombtn a .font{DISPLAY:block; font-size:15px; color:#59391e; width:100%; height:70px; text-align:center; line-height:40px;}
.bottombtn a .bt1{DISPLAY:block; width:100%; height:70px; background:url(../images/lbtn1.png) bottom center no-repeat;}
.bottombtn a .bt2{DISPLAY:block; width:100%; height:70px; background:url(../images/lbtn2.png) bottom center no-repeat;}
.bottombtn a .bt3{DISPLAY:block; width:100%; height:70px; background:url(../images/lbtn3.png) bottom center no-repeat;}
.bottombtn a .bt4{DISPLAY:block; width:100%; height:70px; background:url(../images/lbtn4.png) bottom center no-repeat;}
.bottombtn a .bt5{DISPLAY:block; width:100%; height:70px; background:url(../images/lbtn5.png) bottom center no-repeat;}
.bottombtn a .bt6{DISPLAY:block; width:100%; height:70px; background:url(../images/lbtn6.png) bottom center no-repeat;}
.bottombtn a .bt7{DISPLAY:block; width:100%; height:70px; background:url(../images/lbtn7.png) bottom center no-repeat;}
.bottombtn a:hover .font{DISPLAY:block; font-size:15px; color:#e5d2bf; width:100%; height:70px;  text-align:center; line-height:40px; background:#cc0000;}
.bottombtn a:hover .bt1{DISPLAY:block; width:100%; height:70px; background:#cc0000 url(../images/lbtn1on.png) bottom center no-repeat;}
.bottombtn a:hover .bt2{DISPLAY:block; width:100%; height:70px; background:#cc0000 url(../images/lbtn2on.png) bottom center no-repeat;}
.bottombtn a:hover .bt3{DISPLAY:block; width:100%; height:70px; background:#cc0000 url(../images/lbtn3on.png) bottom center no-repeat;}
.bottombtn a:hover .bt4{DISPLAY:block; width:100%; height:70px; background:#cc0000 url(../images/lbtn4on.png) bottom center no-repeat;}
.bottombtn a:hover .bt5{DISPLAY:block; width:100%; height:70px; background:#cc0000 url(../images/lbtn5on.png) bottom center no-repeat;}
.bottombtn a:hover .bt6{DISPLAY:block; width:100%; height:70px; background:#cc0000 url(../images/lbtn6on.png) bottom center no-repeat;}
.bottombtn a:hover .bt7{DISPLAY:block; width:100%; height:70px; background:#cc0000 url(../images/lbtn7on.png) bottom center no-repeat;}
/********底部信息样式结束***********************/
/*首页动画*/
/*轮播图*/
.wraper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
}
.wraper .lsw-swiper{
  width: 100%;
  height: 100%;
}















/*师资力量图片样式开始*/

.carousel.flexible .items {
  display: none;
}

.img-responsive,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto
}
.picbox{
  padding: 25px 50px;
}


.flex-item{
  width: 24%;
  position: relative;
  float:left;
  min-height: 1px;
  padding:3px;
  list-style: none;
    border:1px solid transparent;
    margin:0 0.5%;
}
.flex-item .box{
  width: 100%;
    height:auto;
  padding: 5px;
  border:2px solid #dfd3c8;
  background: #f5f8f8;
    -webkit-transition: .4s all;
  -moz-transition: .4s all;
  -ms-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;   
  text-decoration: none;   
}

.flex-item .box .imgbox{
  position: relative;
  overflow:hidden;
  /*height:180px;*/
  margin: 0 auto;
}
.flex-item .box .imgbox .img-bg{
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}
.flex-item .box .imgbox .ch1{margin-top:65%}

.flex-item .box .title{
  position: relative;
  width: 100%;
  height: 30px;
  font-size: 14px;
  color: #666;
  line-height: 30px;
  text-align: center; 
  overflow: hidden; /*自动隐藏文字*/
    text-overflow: ellipsis;/*文字隐藏后添加省略号*/
    white-space: nowrap;/*强制不换行*/
}

.flex-item .flex-yin{
  position: absolute;
    width: 88%;
    height: 50px;
    background: url(../images/yin.png) no-repeat;
    background-size: contain;
}
.flex-item .box .info{
  position: relative;
  width: 100%;
  height: 115px;
  font-size: 12px;
  color: #b3b3b3;
  line-height: 25px;
  text-align: left; 
  overflow: hidden;
}
.flex-item .box .info p{
  height:75px;
  overflow: hidden;
  /*padding: 10px 0 0;*/
  display: -webkit-box;
    display: -moz-box;
    /* white-space: pre-wrap; */
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.flex-item .box>a{
  display: block;
  overflow: hidden;
}
.flex-item .title .title-name{
  display: inline-block;
  float: left;
  color: #968a81;
  max-width: 51%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.flex-item .title ul{
  float: right;
}
.flex-item .title ul li{
  float: left;
  padding-left: 10px;
  font-size: 16px;
  color: #c3b3a5;
}
/*.flex-item  a{
  color: #919191;
}*/
.flex-item .er-con-more{
  padding: 10px 0 10px 5px;
}
 .flex-xs{
  float: left;
  position: relative;
  width: 50px;
}
.flex-item .er-food-likes{
  float: right;
  transition: 0.3s;
}
/*详细*/
.flex-xstxt{
  opacity: 0;
  transition: 0.5s;
}
.flex-item .m-lines,.flex-item .m-right,
.er-nlist-more .m-lines,
.er-nlist-more .m-right{
  right: 0 !important;
  transition: 0.3s;
}
.flex-item:hover .m-lines{
  width: 20px;
  border-color: #cc0000;
}
.flex-item:hover .m-right{
  border-color: #cc0000;
}
.flex-item:hover .flex-xstxt,
.flex-item:hover .er-food-likes{
  opacity: 1;
  color: #cc0000;
}


.flex-item .title ul li:hover{
  color: #cc0000;
}
.er-view-more{
  text-align: center;
  padding-top: 25px;
}

.flex-item:hover{
 border:1px solid  #dfd3c8;
}
.flex-item:hover .box {
  border: 2px solid #cc0000;
}
/*.flex-item:hover .box .title{
  color: #f60;
}*/
.flex-item:hover .box .info{
  color: #968a81;
}
.flex-item:hover .box .imgbox .img-bg{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.flex-item:hover .box .title-name{
  color: #cc0000;
}



.er-con-more:after{
  display: block;
  content: '';
  clear: both;
}


.carousel {
  position: relative;
  width: 100%;
  margin:0 auto;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden
}

.carousel-inner>.item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  line-height: 1
}


.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
  display: block
}

.carousel-inner>.active {
  left: 0
}

.carousel-inner>.next,
.carousel-inner>.prev {
  position: absolute;
  top: 0;
  width: 100%
}

.carousel-inner>.next {
  left: 100%
}

.carousel-inner>.prev {
  left: -100%
}

.carousel-inner>.next.left,
.carousel-inner>.prev.right {
  left: 0
}

.carousel-inner>.active.left {
  left: -100%
}

.carousel-inner>.active.right {
  left: 100%
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 43px;
  height: 43px;
  margin-top: -21px;
  border-radius: 50%;
  border: 1px solid #b9b9b8;
  transition: 0.3s;
}

.carousel-control.left {
  position: absolute;
  left: -43px;
  top: 50%;
  background: url(../images/flex-prev.png) center no-repeat;
}

.carousel-control.right {
  left: auto;
  right: -43px;
  top: 50%;
  background: url(../images/flex-prev.png) center no-repeat;
  transform: rotate(180deg);
}
.carousel-control:hover{
  background:#cc0000 url(../images/flex-prev.png) center no-repeat;
  -webkit-filter: contrast(180%);
  filter: contrast(180%);
  border-color: #cc0000;
}
/*吃喝玩乐erji*/
.er-relax-left,
.er-relax-right{
  float: left;
  height: 535px;
  overflow: hidden;
  position: relative;
}
.er-relax-left{
  width:32.8%;
  margin-right: 1%;
}
.er-relax-right{
  width:65.2%;
  padding-left:1.5%;
}
.er-relax-txt-info{
  height: 40px;
  overflow: hidden;
}
.er-relax-img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
}
.er-relax-img .er-relax-imgbg{
  transition: 0.3s;
  height: 100%;
  width: 100%;
  position: absolute;
}
.er-relax-left .er-relax-txt{
  position: absolute;
  bottom: 0;
  background: rgba(255,255,255,0.8);
  height: 100px;
  padding: 15px;
  transition: 0.5s;
  width: 100%;
}
.er-relax-txt{
  font-size: 12px;
  line-height: 20px;
  color: #8c7968;
  transition: 0.3s;
  padding: 5px;
}
.er-relax-txt .er-relax-title{
  padding-bottom: 5px;
  color: #59391e;
}
.er-relax-txt .er-relax-title span.er-relax-name{
  font-size: 16px;
  float: left;
  transition: 0.3s;
}
.er-relax-txt .er-relax-title .er-relax-likes{
  float: right;
}
.er-relax-txt .er-relax-title .er-relax-likes span{
  color: #cc0000;
}
 .er-relax-left:hover .er-relax-img{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
} 
.er-relax-left:hover .er-relax-txt{
  display: -webkit-flex;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.er-relax-list{
  float: left;
  width: 31.83%;
  margin:0 1.5% 2.6% 0;
  overflow: hidden;
  position: relative;
  border:1px solid #e3e6e6;
  background: #fff;
}
/* .er-relax-list .er-relax-img{
  height: 165px;
  overflow: hidden;
  transition: 0.3s;
} */
.er-ch{
  margin-top: 56%;
}
.er-relax-list .er-relax-txt{
  height: 90px;
}
.er-relax-list:hover .er-relax-img .er-relax-imgbg{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.er-relax-list:hover span.er-relax-name{
  color: #cc0000;
}
.er-relax-list:hover .er-relax-txt{
  color: #59391e;
}
/*er-more*/
.er-more{
  text-align: center;
  padding-top: 20px;
  clear: both;
}
.er-lvmore{
  text-align: left;
}
.er-more a{
  display: inline-block;
    width: auto;
    padding: 0 40px 0 15px;
    height: 32px;
    border: 1px solid #a68a72;
    text-align: center;
    line-height: 30px;
    color: #a68a72;
    transition: 0.3s;
    position: relative;
}
.er-lvmore a{
  padding-right: 15px;
}
.er-more .m-lines{
  width: 20px;
  right: 10%;
}
.er-more .m-right{
  right: 9%;
}

.er-txtinfo{
  width:98%; 
  height:auto;
  margin:0 auto;
}

/*新闻标题*/
.er-txttile{
  padding: 15px;
  text-align: center;
}
.er-txttile .er-tname{
  font-size: 24px;
  color: #cc0000;
}
.er-tsmall span{
  padding-right: 15px;
}

/* 文章标题 */
.er-txtname{
  font-family: fznb;
  font-size: 30px;
  text-align: center;
  padding: 0 0 15px;
}
.er-txtname span{
  color: #cc0000;
}

/*封面图*/
.er-txtimg, .san-video-box{
  text-align: center;
    margin: 10px auto;
    overflow: hidden;
    max-width: 1000px;
}
.er-txtimg img, #video_info{
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 5px;
    border: 1px solid #ddd;
}

/*轮播图*/
/*图文列表*/
.er-txtimgbox,.er-imgbox{
  padding-bottom: 15px;
}
.er-txtimgbox .flex-item{
  margin-bottom: 1%;
}

.er-picbox .flex-item .box,
.er-imgbox .flex-item .box{
  padding: 0;
  position: relative;
  border:0;
}
.er-picbox .flex-item:hover,
.er-imgbox .flex-item:hover{
  border-color: transparent;
}
.er-picbox .flex-item:hover .box,
.er-imgbox .flex-item:hover .box{
  border: 0;
}
.er-picbox .flex-item .box .info,
.er-imgbox .flex-item .box .info{
  position: absolute;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #ddd;
  background: rgba(94, 62, 51, 0.8);
  overflow: hidden;
  transition: 0.3s;
}
.er-picbox .info .info-txt,
.er-imgbox .info .info-txt{
  display: table;
  width: 100%;
  height: 100%;
}
.er-picbox .info .info-txt p,
.er-imgbox .info .info-txt p{
  display: table-cell;
  vertical-align: middle;
}
.info-txt .info-name{
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
.info-txt span.fa-search{
  display: block;
  /*padding-top: 15px;*/
  font-size: 18px;
}
.er-picbox .flex-item:hover .box .info,
.er-imgbox .flex-item:hover .box .info{
  height: 100%;
  line-height: 20px;
  color: #fff;
}
/*新闻-内容*/
.news-conbox{
  width: 100%;
  position: relative;
  height: 535px;
  background: rgba(255,255,255,0.4);
  padding: 0 40px;
}

/*新闻-轮播*/
.news-cons{
  float: left;
  width: 50%;
  position: relative;
  height: 100%;
  padding-top: 30px;
}
.news-cons:before{
  position: absolute;
  content: '';
}
.news-left:before{
  border-right: 1px dashed #bcaa99;
  height: 48%;
  right: 0;
  top: 0;
}
.news-right:before{
  border-left: 1px dashed #bcaa99;
  height: 47%;
  bottom: 0;
  left: 0;
}
.news-cons:after{
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #bcaa99;
  transform: rotate(45deg);
  top: 50%;
}
.news-left:after{
  right: -6px;
  top: 49%;
}
.news-right:after{
  left: -6px;
}

.news-left{
  /*border-right: 1px dashed #847a73;*/
  padding-right: 35px;
}
.news-right{
  padding-left: 25px;
}
.nw-wraper
/*.news-list*/{
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  height: 100%;
}
.nw-box{
  width: 1000%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.news-list{
  float: left;
}
.news-list a,.news-txthide a,.more a{
  display: none;
}

.news-img{
  width: 100%;
  height: 314px;
  overflow: hidden;
}
.news-img img{
  height: 100%;
  vertical-align: middle;
}

.news-text{
  padding-top: 30px;
}
.news-text .news-title{
  color: #7e7167;
}
.news-date{
  color: #b3b3b3; 
  font-size: 12px;
}
.news-info{
  padding:15px 0;
  line-height: 25px;
  height: 72px;
  font-size: 12px;
  display: -webkit-box; 
  display: -moz-box;  
  /*white-space: pre-wrap; */
  word-wrap: break-word;
  overflow: hidden; 
  text-overflow: ellipsis; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp:2;
  color: #b3b3b3;
  cursor: pointer;
}
.nes-lsinfo .news-info{
  padding: 0;
  height: 0;
      /*height: 55px;*/
    /*padding: 5px 0;*/
    line-height: 22px;
    padding-left: 17px !important;
}
/*新闻-按钮*/
.news-dir .news-mao {
    float: left;
    border: 1px solid #9a8e84;
    color: #d1c6b4;
    font-size: 24px;
    width: 34px;
    height: 34px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.news-dir{
  position: absolute;
  top: 58%;
  left: 0;
  border: 1px solid #c3b2a4;
}
.news-dir .news-mao{
  background: #fff;
  border: 0;
}
.news-dir .news-prev{
  border-right: 1px solid #c3b2a4;
}
.news-dir .news-mao:hover{
  background: #c3b2a4;
  color: #fff;
}
.by-more{
  color: #9c9288;
}
.by-more span{
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #cc0000;
  margin-left: 5px;
}
/*新闻列表*/
.nes-lsinfo{
  padding-bottom: 15px;
  cursor: pointer;
}
.news-inhead{
  color: #847a73;
  line-height: 20px;
}
.news-inhead h4{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
}
.nes-lsinfo.active .news-inhead,.news-inhead:hover h4{
  color: #cc0000;
}
.news-right .news-date{
  padding-left: 17px;
}

.news-txthide{
  position: relative;
  /*display: none;*/
  height: auto;
  overflow: hidden;
}
.nes-lsinfo.active .sort{
  border-bottom-color: #cc0000;
  border-right-color: #cc0000;
}
.news-indir{
  width: 100%;
  height: 20px;
  background: url(../images/right.png) left center no-repeat;
  position: absolute;
  left: 17px;
  top: 0;
}
.news-jjt{
  height: 20px;
  padding-left: 17px;
}
.news-more{
  display: none;
}
.nes-lsinfo:first-child .news-info{
  display: block;
  height: 55px;
  padding: 5px 0;
}
.nes-lsinfo:first-child .news-more{
  display: block;
}
.nes-lsinfo:first-child .news-indir{
  /*display: none;*/
  opacity: 0;
}
/*三角形*/
.sort{
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 5px;
  border: 4px solid #968a81;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
}
/*新闻详情列表*/
.er-nwbox{
  padding:15px 0;
  overflow-x: hidden;
}
.er-nlist-info{
  float: left;
  width: 49%;
  border: 1px solid #ddd;
  margin: 0 2% 2% 0;
  padding:0 15px;
  height: 160px;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
  background: rgba(255,255,255,0.2);
}
.er-nwbox .er-nlist-info:nth-of-type(even){
  margin-right: 0;
}
.er-nlist-info h4{
  font-size: 15px;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  color: #847a73;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.er-nlist-info .er-nlist-txt{
  font-size: 12px;
  color: #999999;
  text-indent: 24px;
  line-height: 20px;
  height: 80px;
  overflow: hidden;
}
.er-nlist-info .er-nlist-txt img{
  float: left;
  width: 120px;
  height: 80px;
  padding-right: 10px;
}

.er-nlist-info .er-nlist-foot{
  clear: both;
  font-size: 12px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right:30px;
}
.er-nlist-info .er-nlist-foot .er-nlist-date{
  float:left;
  color: #b7b7b6;
}
.er-nlist-info .er-nlist-date span{
  padding-right: 10px;
}
.er-nlist-info .er-nlist-foot .er-nlist-more{
  float: right;
  color: #cc0000;
}

.er-nlist-info:hover{
  background: rgba(255,255,255,0.4);
  border-color:#cc0000;
}
.er-nlist-info:hover .er-nlist-txt{
  color: #8c7c6d; 
}
.er-nlist-info:hover h4,
.er-nlist-info:hover .er-nlist-date{
  color:#cc0000;
}
.er-nlist-info:hover .m-lines{
  width: 20px;
}
.er-nlist-info:hover .m-lines,
.er-nlist-info:hover .m-right{
  border-color:#cc0000; 
}
.er-nlist-info:hover .flex-xstxt{
  opacity: 1;
}

.er-nlist:after,.er-relax-title:after,.er-tour-box:after,.er-relax-content:after{
  display: block;
  content: '';
  clear: both;
}





@media (max-width: 1450px){
   /********顶部及导航样式开始***********************/
   .topmenuBox .logo{ width:226px; height:72px; position:absolute;top:10px; left:30px; background:url(../images/logo.png) left 0px no-repeat;}
   .topmenuBox .top-rightmenu{ width:240px; height:20px; position:absolute; top:20px; right:30px;}
   .topmenuBox .top-rightTel{ float:left; width:200px; height:20px; border:1px solid #a68a72; font:12px "微软雅黑" "宋体"; line-height:20px; color:#a68a72; text-align:center;}
   .topmenuBox .top-rightmenuBox{float:left; width:40px; height:25px; font-size:12px;}
   .topmenuBox .top-rightmenuBox dd{ width:20px; height:20px; float:left; cursor:pointer; position:relative;}
   .topmenuBox .top-rightmenuBox dd a{ width:20px; height:20px; display:block;}
   .topmenuBox .top-rightmenuBox .bt1 a{background:#cc0000; color:#fff; text-align:center; line-height:20px;}
   .topmenuBox .top-rightmenuBox .bt1 a:hover{color:#ff0;}
   .topmenuBox .top-rightmenuBox .bt2 a{background:#a68a72; color:#fff; text-align:center; line-height:20px;}
   .topmenuBox .top-rightmenuBox .bt2 a:hover{background:#cc0000;}
}

@media (max-width: 1370px){
   .topmenuBox .logo{ width:226px; height:72px; position:absolute;top:10px; left:20px; background:url(../images/logo.png) left 5px no-repeat; background-size:auto 75%;}
   .topmenuBox .top-rightmenu{ width:240px; height:20px; position:absolute; top:20px; right:20px;}
}

@media (max-width: 1030px){
}