@charset "utf-8";
html,body{width:100%;min-width:320px;height: 100%;position: relative;overflow: hidden;}
body{font: 16px/150% "微软雅黑",Hiragino Sans GB,"黑体",Arial, Helvetica, sans-serif;}
html,body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,input,textarea,select,address,caption,cite,code,dfn,em,th,var,abbr,acronym{font-size:100%;font-style:normal;}
h4{
  font-weight: 100;
}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;}
ul,ol, li{list-style:none;}
img,object,select,input,textarea{vertical-align:top;}
input,select,textarea{ outline:none;font-size:12px;}
a{text-decoration:none;color:rgba(255,255,255,.0);transition:all .2s ease 0s;-ms-transition:all .2s ease 0s;-moz-transition:all .2s ease 0s;}
ins,a:hover{text-decoration:none;}
a:visited{text-decoration:none;}
q:before,q:after{content:"";}
.h1{ clear:both; height:1px;}
.h2{ clear:both; height:1px;}
.h5{ clear:both; height:5px;}
.h10{ clear:both; height:10px;}
.h20{ clear:both; height:20px;}
.h50{ clear:both; height:50px;}
.h{display:none;}
.L{ float:left;}
.R{ float:right;}
.C:after{ content:"";display:block;clear:both;}
/*引入字体*/
@font-face{
  font-family: fzeg;
  src:url(../fonts/bodoni-bookitalic-webfont.woff) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: fznb;
  src:url(../fonts/FZNBSJW--GB1-0.woff) format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/********顶部及导航样式开始***********************/
.loading{ width:100%; height:100%; position:absolute; top:0; left:0; background: url(../images/map-bg.jpg); z-index:1500;}
.loading .loadbox{ width:400px; height:260px; position:absolute; top:50%; margin-top:-130px; left:50%; margin-left:-200px; background: url(../images/load.png) top center no-repeat; text-align:center; font-size:14px; color:#6d5b52; padding-top:150px; line-height:35px; }
.topmenuBox{ width:100%; height:100px; position:fixed; top:0; left:0;  z-index:100;}
.topmenuBox-yy{ width:100%; height:3px; position:fixed; top:100px; left:0;background:#684643;  z-index:100;}
.topmenuBox-yy1{ width:250px; height:3px; position:absolute; top:0px; left:0;background:#009aa8;}
.topmenuBox .logo{ width:227px; height:72px; position:absolute;top:10px; left:30px; background: url(../images/logo.png) center no-repeat;background-size: 100% auto;}
.topmenuBox .top-rightmenu{ height:25px; position:absolute; top:20px; right:30px;}
.topmenuBox .top-rightTel{ float:left; width:235px; height:25px; border:1px solid #a68a72; font:13px "微软雅黑" "宋体"; line-height:24px; color:#a68a72; text-align:center;}
.topmenuBox .top-rightmenuBox{float:left; width:60px; height:25px; font-size:12px;}
.topmenuBox .top-rightmenuBox dd{ width:25px; height:25px; float:left;margin-right: 5px; cursor:pointer; position:relative;}
.topmenuBox .top-rightmenuBox dd a{ width:25px; height:25px; display:block;}
.topmenuBox .top-rightmenuBox .bt1 a{background:#009aa8; color:#fff; text-align:center; line-height:25px;}
.topmenuBox .top-rightmenuBox .bt1 a:hover{color:#ff0;}
.topmenuBox .top-rightmenuBox .bt2 a{background:#a68a72; color:#fff; text-align:center; line-height:25px;}
.topmenuBox .top-rightmenuBox .bt2 a:hover{background:#009aa8;}

.topmenuBox .top-menu{ width:910px; height:40px; position:fixed; top:40px; right:30px; padding-top:10px; z-index:1010;}
.topmenuBox .top-menu .top-maxnav {	LIST-STYLE-TYPE: none;TOP: 0px; LEFT: 0px; margin-left:0px; }
.topmenuBox .top-menu .top-maxnav LI {POSITION: relative; LIST-STYLE-TYPE: none; FLOAT: right; margin:0px; font:15px "微软雅黑" "宋体"; margin-left:1px;}
.topmenuBox .top-menu .top-maxnav LI A {TEXT-ALIGN: center; LINE-HEIGHT: 30px;  DISPLAY: block; FLOAT: left; HEIGHT: 30px;  text-decoration:none;}
.topmenuBox .top-menu .top-maxnav LI:hover A { text-decoration:none;}
.topmenuBox .top-menu .top-maxnav LI A:hover {COLOR: #fff;text-decoration:none;}
.menubtn a{ width:81px; height:30px; overflow:hidden; background:#009aa8; line-height:30px; color:#fff}
.menubtn a:hover{ width:81px; height:30px; overflow:hidden; background:#009aa8; line-height:30px;}
.menubtn1 a{ width:100px; height:30px; overflow:hidden;line-height:26px;  background:#e6dedb;  COLOR:#7a695e;}
.menubtn1 a:hover{ width:100px; height:30px; overflow:hidden; background:#009aa8; line-height:30px;}
/********顶部及导航样式结束***********************/


/********底部信息样式开始***********************/
.bigbottombg{ width:100%; height:150px; position:fixed; left:0px; bottom:0px; z-index:1200;}
.bottombtn a .font{DISPLAY:block; font-size:15px; color:#59391e; width:100%; height:70px; text-align:center; line-height:40px;}
.bottombtn a .bt1{DISPLAY:block; width:100%; height:70px; background:url(../images/lbtn1.png) bottom center no-repeat;}
.bottombtn a .bt2{DISPLAY:block; width:100%; height:70px; background:url(../images/lbtn2.png) bottom center no-repeat;}
.bottombtn a .bt3{DISPLAY:block; width:100%; height:70px; background:url(../images/lbtn3.png) bottom center no-repeat;}
.bottombtn a .bt4{DISPLAY:block; width:100%; height:70px; background:url(../images/lbtn4.png) bottom center no-repeat;}
.bottombtn a .bt5{DISPLAY:block; width:100%; height:70px; background:url(../images/lbtn5.png) bottom center no-repeat;}
.bottombtn a .bt6{DISPLAY:block; width:100%; height:70px; background:url(../images/lbtn6.png) bottom center no-repeat;}
.bottombtn a .bt7{DISPLAY:block; width:100%; height:70px; background:url(../images/lbtn7.png) bottom center no-repeat;}
.bottombtn a:hover .font{DISPLAY:block; font-size:15px; color:#e5d2bf; width:100%; height:70px;  text-align:center; line-height:40px; background:#009aa8;}
.bottombtn a:hover .bt1{DISPLAY:block; width:100%; height:70px; background:#009aa8 url(../images/lbtn1on.png) bottom center no-repeat;}
.bottombtn a:hover .bt2{DISPLAY:block; width:100%; height:70px; background:#009aa8 url(../images/lbtn2on.png) bottom center no-repeat;}
.bottombtn a:hover .bt3{DISPLAY:block; width:100%; height:70px; background:#009aa8 url(../images/lbtn3on.png) bottom center no-repeat;}
.bottombtn a:hover .bt4{DISPLAY:block; width:100%; height:70px; background:#009aa8 url(../images/lbtn4on.png) bottom center no-repeat;}
.bottombtn a:hover .bt5{DISPLAY:block; width:100%; height:70px; background:#009aa8 url(../images/lbtn5on.png) bottom center no-repeat;}
.bottombtn a:hover .bt6{DISPLAY:block; width:100%; height:70px; background:#009aa8 url(../images/lbtn6on.png) bottom center no-repeat;}
.bottombtn a:hover .bt7{DISPLAY:block; width:100%; height:70px; background:#009aa8 url(../images/lbtn7on.png) bottom center no-repeat;}
/********底部信息样式结束***********************/
/*首页动画*/
a,span.nav-hoverbg,span.nav-icon,.er-links-bg,span.er-links-icon,.er-imgbg,.er-imgtxt{
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/*轮播图*/
.wraper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
}
.banner-content {
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.swiper-container{
  width: 100%;
  height: 100%;
}
.banner-txtbox{
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}
.banner-txtbox>div{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  position: relative;
}
.banner-one{
  color: #4c5262;
}
.banner-one .banner-txtbox>div{
  padding: 0 0 8% 8%;
}
.banner-four>div{
  padding:0 0 8% 2%; 
}
.banner-one .banner-txtbox .banner-titleimg{
  width: 180px;
  height: 117px;
  background: url(../images/zi-1.png) center no-repeat;
  background-size: 100% auto;
  margin:10px 15px;
}
.banner-one .banner-txtbox .banner-descimg{
  width: 473px;
  height: 36px;
  background: url(../images/zi-11.png)center no-repeat;
  background-size: 100% auto;
  margin:10px 0;
}

/*two*/
.banner-two,.banner-three,.banner-four{
  color: #ebebeb;
}
.banner-two .banner-txtbox>div>div,
.banner-three .banner-txtbox>div>div{
  float: right;
}
.banner-two .banner-txtdesc,
.banner-three .banner-txtdesc{
  writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    line-height: 25px;
}
.banner-two .banner-txtdesc{
    width: 150px;
    height: 320px;
    font-size: 15px;
}
.banner-two .banner-name{
  width: 33px;
  height: auto;
  margin:0 10px;
}
.banner-two .banner-name span{
  display: block;
  width: 33px;
  height: 33px;
  margin-bottom: 5px;
  line-height: 35px;
  font-size: 26px;
  text-align: center;
  font-family: fznb;
}
.banner-two .banner-name span.banner-namey{
  color: #ffd181;
  background: #000;
}
.banner-two .banner-name span.banner-namer{
  background: #aa0000;
  color: #fff;
}
.banner-two .banner-titleimg{
  width: 105px;
  height: auto;
}
.banner-two .banner-titleimg .banner-titlebg{
  width: 105px;
  height: 195px;
  background: url(../images/zi-2.png) center no-repeat;
  background-size: 100% auto;
}
.banner-two .banner-titleimg .banner-cloud{
  width: 100%;
  height: 56px;
  background: url(../images/cloud1.png)center no-repeat;
  background-size: 100% auto;
}
.banner-two .banner-titlename{
  width: 46px;
  font-size: 28px;
  color: #ffd181;
  font-family: fznb;
  border: 1px solid #ffd181;
  text-align: center;
  padding: 3px;
  margin: 0 10px;
  line-height: 30px;
}
.banner-two .banner-titlename h4{
  padding: 5px 0;
  border:2px solid #ffd181;
  background: #ad0000;
}
.banner-two .banner-txtbox>div{
  padding:13% 8% 0 0;
}
/*three*/
.banner-three .banner-txtbox>div{
  padding:10% 5% 0 0;
}
.banner-three .banner-txtdesc{
  height: 355px;
  width: 95px;
}
.banner-two .banner-txtdesc span,
.banner-three .banner-txtdesc span{
  display: block;
}
.banner-three .banner-name{
  width: 30px;
  font-size: 30px;
  margin: 0 10px;
  line-height: 35px;
}
.banner-three .banner-titlename{
  width: 42px;
  border: 1px solid rgba(255,255,255,0.3);
  padding:3px;
  font-size: 24px; 
  text-align: center;
}
.banner-three .banner-titlename h4{
  border: 2px solid rgba(255,255,255,0.3);
  padding: 5px 0;
}

.banner-three .banner-titleimg{
  width: 144px;
  height: auto;
  margin:0 10px;
}
.banner-three .banner-titleimg .banner-titlebg{
  width: 144px;
  height: 224px;
  background: url(../images/zi-3.png)center no-repeat;
  background-size: 100% auto;
}
.banner-three .banner-titleimg .banner-pinkbuffer{
  width: 79px;
  height: 83px;
  background: url(../images/buffer-1.png)center no-repeat;
  background-size: 100% auto;
  margin-left: 25px;
}
.banner-three .banner-bluebuffer{
  position: absolute;
  right: 10%;
  bottom: 62%;
  width: 98px;
  height: 96px;
  background: url(../images/buffer-2.png)center no-repeat;
  background-size: 100% auto;
}
/*four*/
.banner-four .banner-txtbox{
  line-height: 25px;
}
.banner-four .banner-titleimg{
  width: 252px;
  height: 115px;
  background: url(../images/zi-4.png) center no-repeat;
  background-size: 100% auto;
  margin: 15px 0;
}
.banner-four .banner-desc{
  font-size: 26px;
  font-family: fznb;
}
.banner-four .banner-cloud{
  width: 121px;
  height: 51px;
  background: url(../images/cloud.png) center no-repeat;
  background-size: 100% auto;
  margin-top: 20px;
}
.home-banner .swiper-pagination-bullet{
  opacity: 1;
  background: #858381;
}
.home-banner .swiper-pagination-bullet-active{
  background: #a00b22;
}
.swiper-container .swiper-button-white{
  background-color: rgba(0,0,0,0.5);
  background-size: 25px 25px;
  padding: 0 25px;
  transition: 0.3s;
  opacity: 0;
}
.swiper-container:hover .swiper-button-white{
  opacity: 1;
}
.home-banner.swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: 17%;
}
/*animate*/
.animate-top{
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}
.tranT{
  -webkit-animation: transT 0.5s ease-in forwards;
  -o-animation: transT 0.5s ease-in forwards;
  animation: transT 0.5s ease-in forwards;
  opacity: 0;
}

@-webkit-keyframes transT {
  0%{
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes transT {
  0%{
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes transT {
  0%{
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes transT {
  0%{
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

.animate-scale{
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
.tranC{
  -webkit-animation: transC 0.5s ease-out forwards;
  -o-animation: transC 0.5s ease-out forwards;
  animation: transC 0.5s ease-out forwards;
}
@-webkit-keyframes transC {
  0%{
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes transC {
  0%{
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes transC {
  0%{
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes transC {
  0%{
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.animate-right{
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;
}
.tranR{
  -webkit-animation: transR 0.5s ease-out forwards;
  -o-animation: transR 0.5s ease-out forwards;
  animation: transR 0.5s ease-out forwards;
  opacity: 0;
}
@-webkit-keyframes transR {
  0%{
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes transR {
  0%{
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes transR {
  0%{
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes transR {
  0%{
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
.animate-left{
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  transform: translateX(-20px);
  opacity: 0;
}
.tranL{
  -webkit-animation: transL 0.5s ease-out forwards;
  -o-animation: transL 0.5s ease-out forwards;
  animation: transL 0.5s ease-out forwards;
}
@-webkit-keyframes transL {
  0%{
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes transL {
  0%{
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes transL {
  0%{
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes transL {
  0%{
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
.delay-1{
  -webkit-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
.delay-2{
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.delay-3{
  -webkit-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.delay-4{
  -webkit-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.delay-5{
  -webkit-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.delay-6{
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.delay-7{
  -webkit-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.delay-8{
  -webkit-animation-delay: 2.1s;
  -o-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.delay-9{
  -webkit-animation-delay: 2.4s;
  -o-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
.delay-10{
  -webkit-animation-delay: 2.7s;
  -o-animation-delay: 2.7s;
  animation-delay: 2.7s;
}

.navbox,.navbar,.navbar ul{
  width: 100%;
  height: 100%;
  position: relative;
}
.navbar{
  display: table;
}
.navbar ul{
  display: table-cell;
  vertical-align: middle;
}
.navbar ul li{
  float: left;
  vertical-align: middle;
}
.navbar ul li.nav-lines{
  width: 100px;
  height: 0;
  position: relative;
  border-top: 1px solid #00a4b3;
  top: 60px;
}
.navbar ul li.nav-lines:first-child,
.navbar ul li.nav-lines:last-child{
  width: 205px;
}
.navbar ul li.nav-lines:after{
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #00a4b3;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 50%;
  margin-top: -5px;
}
.navbar ul li.nav-list{
  width: 120px;
  height: 120px;
  background: rgba(255,255,255,0.6);
  border-radius: 50%;
  overflow: hidden;
  margin: 0 5px;
  padding: 7px;
}
li.nav-list a{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: #e2e2e2;
  border-radius: 50%;
  overflow: hidden;
  color: #333;
  font-size: 16px;
  text-align: center;
  z-index: 10;
}
li.nav-list span.nav-icon{
  display: block;
  width: 50px;
  height: 50px;
  background: url(../images/icons.png)no-repeat;
  margin: 0 auto;
  margin-top: 6px;
}
li.nav-list.nav-video span.nav-icon{
  background-position: -19px -3px;
}
li.nav-list.nav-cul span.nav-icon{
  background-position: -110px -3px;
}
li.nav-list.nav-bea span.nav-icon{
  background-position: -202px -3px;
}
li.nav-list.nav-news span.nav-icon{
  background-position:-294px -3px;
}
li.nav-list.nav-relax span.nav-icon{
  background-position: -383px -3px;
}
li.nav-list.nav-server span.nav-icon{
  background-position: -475px -3px;
}
li.nav-list.nav-meili span.nav-icon{
  background-position: -568px -3px;
}
li.nav-list span.nav-hoverbg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/nav-hover.jpg)center no-repeat;
  background-size: cover;
  opacity: 0;
  z-index: -1;
}
li.nav-list:hover a{
  color: #fff;
}
li.nav-list:hover span.nav-hoverbg{
  opacity: 1;
}
li.nav-list.nav-video:hover span.nav-icon{
  background-position: -19px -71px;
}
li.nav-list.nav-cul:hover span.nav-icon{
  background-position: -110px -71px;
}
li.nav-list.nav-bea:hover span.nav-icon{
  background-position: -202px -71px;
}
li.nav-list.nav-news:hover span.nav-icon{
  background-position:-294px -71px;
}
li.nav-list.nav-relax:hover span.nav-icon{
  background-position: -383px -71px;
}
li.nav-list.nav-server:hover span.nav-icon{
  background-position: -475px -71px;
}
li.nav-list.nav-meili:hover span.nav-icon{
  background-position: -568px -71px;
}

/*btns*/
.all-btns,.btns-box{
  position: fixed;
  top: 50%;
  color: #fff;
  z-index: 1111;
}
.btns-box{
  left: 5px;
  font-size: 35px;
  margin-top: -43px;
}
.all-btns{
  right: 5px;
  height: 220px;
  margin-top: -110px;
  font-size: 12px;
}
.all-btns a,.btns-box a{
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}
.all-btns .all-btn-list,.btns-box li{
  width: 40px;
  height: 40px;
  /*overflow: hidden;*/
  background: rgba(170, 85, 22, 0.65);
  margin-bottom: 5px;
  line-height: 40px;
  text-align: center;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btns-box li{
  line-height: 35px;
}
.all-btns .all-btn-list:last-child,.btns-box li:last-child{
  margin-bottom: 0;
}
.all-btns .all-btn-list ul{
  position: absolute;
  top: 0;
  width: 0;
  height: 40px;
  line-height: 40px;
  right: 40px;
  background: red;
  overflow: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.all-btns .all-btn-list ul li{
  float: left;
}
.all-btns .all-btn-list ul li:first-child{
  width: 40px;
  background: #852221;
}
.all-btns .all-btn-list ul li:not(:first-child){
  width: 30%;
}
.all-btns .all-btn-list:first-child:hover ul{
  width: 120px;
}
.all-btns .btn-icon{
  display: block;
  width: 100%;
  height: 100%;
}
.all-btns .all-btn-server .btn-icon{
  background: url(../images/icons.png) no-repeat;
  background-position:-10px -144px;
}
.all-btns .all-btn-copy .btn-icon{
  background: url(../images/icons.png) no-repeat;
  background-position:-106px -145px;
}
.all-btns .all-btn-wx .btn-icon{
  background: url(../images/icons.png) no-repeat;
  background-position:-58px -146px;
}

.all-btns .btn-info,.btns-box .btn-info{
  position: absolute;
  width: 0;
  height: 40px;
  background: red;
  top: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}
.all-btns .btn-info{
  right: 40px;
}
.btns-box .btn-info{
  left: 40px;
  font-size: 12px;
  line-height: 40px;
}
.all-btns .wx-box .btn-info{
  display: block;
  width: 141px;
  height: auto;
  top: 95%;
  opacity: 0;
  line-height: 20px;
  padding: 5px;
  background: #8f7566;
}
.wx-box{
  display: none;
}
.all-btn-copy .btn-info{
  width: 0px;
  height: 61px;
  background: url(../images/copy.jpg)center no-repeat;
  background-size: cover;
}
.all-btn-server .btn-info{
  width: 0px;
  height: 76px;
  text-align: left;
  line-height: 25px;
}
.all-btn-server .btn-info>span{
  display: block;
  border-bottom: 1px solid #000;
}
.all-btn-server .btn-info>span:last-child{
  border-bottom: 0;
}
.all-btn-server .btn-info>span span{
  display: inline-block;
  background: rgba(0,0,0,0.5);
  padding-left: 5px;
  width: 43%;
  margin-right: 10px;
}
.all-btns .all-btn-list:nth-child(2):hover .btn-info{
  width: 199px;
}
.all-btns .all-btn-list:nth-child(4):hover .btn-info{
  width: 302px;
}
.loadok{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 11;
}
/*背景图*/
.bg-box>div{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  opacity: 0;
  animation: show 12s ease-out infinite;
}
/* Animation for the slideshow images */
@-webkit-keyframes show { 
  0%{
    opacity:0;
    z-index:2;
  }
  25%{
    opacity:1;
    z-index: 1;
  }
  20%{
    opacity:1;
    z-index:1;
  }
  50%{
    opacity:0;
    z-index:0;
  }
  100%{
    opacity:0;
    z-index:0;
  }
}
@-moz-keyframes show { 
  0%{
    opacity:0;
    z-index:2;
  }
  25%{
    opacity:1;
    z-index: 1;
  }
  20%{
    opacity:1;
    z-index:1;
  }
  50%{
    opacity:0;
    z-index:0;
  }
  100%{
    opacity:0;
    z-index:0;
  }
}
@-o-keyframes show { 
  0%{
    opacity:0;
    z-index:2;
  }
  25%{
    opacity:1;
    z-index: 1;
  }
  20%{
    opacity:1;
    z-index:1;
  }
  50%{
    opacity:0;
    z-index:0;
  }
  100%{
    opacity:0;
    z-index:0;
  }
}
@-ms-keyframes show { 
  0%{
    opacity:0;
    z-index:2;
  }
  25%{
    opacity:1;
    z-index: 1;
  }
  20%{
    opacity:1;
    z-index:1;
  }
  50%{
    opacity:0;
    z-index:0;
  }
  100%{
    opacity:0;
    z-index:0;
  }
}
@keyframes show { 
  0%{
    opacity:0;
    z-index:2;
  }
  25%{
    opacity:1;
    z-index: 1;
  }
  20%{
    opacity:1;
    z-index:1;
  }
  50%{
    opacity:0;
    z-index:0;
  }
  100%{
    opacity:0;
    z-index:0;
  }
}
.bg-box>div:nth-child(1){
  background-image: url(../images/banner-01.jpg);
    /*animation-delay: -1s; */

}
.bg-box>div:nth-child(2){
  background-image: url(../images/banner-02.jpg);
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s; 
}
.bg-box>div:nth-child(3){
  background-image: url(../images/banner-03.jpg);
   -webkit-animation-delay:8s;
    -moz-animation-delay:8s;
    -o-animation-delay:8s;
    -ms-animation-delay:8s;
    animation-delay:8s; 
}
.er-mincir{
    transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
}
.er-navtxt{
    transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}
.er-navtxtinfo{
    transform: rotate(-60deg);
    background: no-repeat 50% center;
    background-size: 125% auto;
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    visibility: visible;
}
.er-title{
  padding: 0 0 5px 0;
  text-align: center;
  font-size: 26px;
  color: #333333;
  font-family:fznb;
  position: relative;
}
.er-title .er-title-name{
  position: relative;
}
.er-title .er-title-eg{
  font-size: 20px;
  font-family: fzeg;
  color: #00a4b3;
}

span.er-title-icon{
  display:inline-block;
  width: 45px;
  height: 10px;
  vertical-align: middle;
}
.er-title-left{
  background: url(../images/icons.png) no-repeat;
  background-position: -176px -156px;
  margin-right: 5px;
}
.er-title-right{
  background: url(../images/icons.png) no-repeat;
  background-position: -237px -156px;
  margin-left: 5px;
}
.er-navbar{
  text-align: center;
  position: relative;
}
.er-navbar .er-navbar-list{
  display: inline-block;
  padding: 0 1%;
  vertical-align: middle;
  position: relative;
  z-index: 11;
  margin-left: -5px;
}
.er-navbar .er-navbar-list:after{
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #009aa8;
  border-radius: 50%;
  top: 50%;
  margin-top: -4px;
  left: -2%;
}
.er-navbar .er-navbar-list:first-child:after{
  display: none;
}
.er-navbar-list .er-navtxtinfo>p:nth-child(1){
  font-size: 14px;
  color: #666;
}
.er-navbar-list .er-navtxtinfo>p:nth-child(2){
  font-size: 12px;
  color: #999;
}
.er-maxcir{
  width: 100px;
    height: 115px;
  padding: 5px;
  position: relative;
  text-align: center;
  overflow: hidden;
  background:url(../images/er-navbg1.png) center no-repeat;
  background-size: 100% 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.er-mincir,.er-navtxt,.er-navtxtinfo{
  width: 90px;
  height: 105px;
  overflow: hidden;
}
.er-navtxt{
  display: table;
}
.er-navtxtinfo{
  display: table-cell;
  vertical-align: middle;
  line-height: 16px;
} 

.er-navbar-list:hover .er-maxcir{
  background: url(../images/er-navbg.png) center no-repeat;
  background-size: 100% 100%;
}
.er-navbar-list:hover .er-navtxt>p{
  color: #8d1111 !important;
}
.er-navbar-list:hover .er-navtxtinfo{
  background: rgba(255,255,255,0.85);
}
.er-navbar-list:hover .er-navtxtinfo>p:nth-child(1){
  color: #000;
}
.er-navbar-list:hover .er-navtxtinfo>p:nth-child(2){
  color: #01a4b3;
}

/*er-links*/
.er-links{
  text-align: center;
/*  padding:20px 0;*/
}
.er-links li.er-links-info{
  display: inline-block;
  margin-left: -5px;
  vertical-align: middle;
  height: 34px;
  line-height: 32px;
  padding: 0 10px;
  position: relative;
}
.er-links li.er-links-info a{
  position: relative;
  display: block;
  width: 116PX;
  height: 100%;
  color: #7c6456;
  border: 1px solid #aeaeae;
  background-size: 100% 100%;
  overflow: hidden;
  z-index: 11;
}
#audio{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
}
.er-links li.er-links-info a .er-links-bg{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../images/links-hoverbg.jpg) center no-repeat;
  background-size: cover;
  opacity: 0;
}

.er-links li.er-links-info a span.er-links-icon{
  display: inline-block;
  width: 26px;
  height: 26px;
  background: url(../images/icons.png) no-repeat;
  vertical-align: middle;
  margin-right: 5px;
}
.er-links li.er-links-info a.er-links-video span.er-links-icon{
  background-position: -20px -224px;
}
.er-links li.er-links-info a.er-links-screen span.er-links-icon{
  background-position: -64px -224px;
}
.er-links li.er-links-info a.er-links-map span.er-links-icon{
  background-position: -104px -224px;
}
.er-links li.er-links-info a.er-links-order span.er-links-icon{
  background-position: -151px -224px;
}
.er-links li.er-links-info a.er-links-video.active span.er-links-icon,
.er-links li.er-links-info a.er-links-video:hover span.er-links-icon{
  background-position: -20px -196px;
}
.er-links li.er-links-info a.er-links-screen.active span.er-links-icon,
.er-links li.er-links-info a.er-links-screen:hover span.er-links-icon{
  background-position: -64px -196px;
}
.er-links li.er-links-info a.er-links-map.active span.er-links-icon,
.er-links li.er-links-info a.er-links-map:hover span.er-links-icon{
  background-position: -104px -196px;
}
.er-links li.er-links-info a.er-links-order.active span.er-links-icon,
.er-links li.er-links-info a.er-links-order:hover span.er-links-icon{
  background-position: -151px -196px;
}

.er-links li.er-links-info a.active,
.er-links li.er-links-info a:hover{
  color: #fff;
}
.er-links li.er-links-info a.active .er-links-bg,
.er-links li.er-links-info a:hover .er-links-bg{
  opacity: 1;
}
/*新闻标题*/
.er-txttile{
  padding: 15px;
  text-align: center;
}
.er-txttile .er-tname{
  font-size: 24px;
  color: #009aa8;
}
.er-tsmall span{
  padding-right: 15px;
}
/*tuwen*/
.animate-txtimgbox{
  padding: 15px 0;
}
.er-imglistbox {
    padding: 25px 1%;
}
.er-imglist{
  position: relative;
  width: 100%;
  padding: 5px;
  border: 1px solid #8f7566;
  overflow: hidden;
}
.er-imglistbox .er-imglist{
  float: left;
  width: 23%;
  margin: 0 1%;
}
.er-imglist a,.er-txtimgbox .er-txtimg-list a{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
}
.img-top,.er-txtimgbox .er-txtimg-top{
  padding-top: 70%;
}
.er-imglist:hover .er-imgbg{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.er-imgtxt{
  position: absolute;
  bottom: 0;
  left: 0;
  background:rgba(0, 0,0, 0.6);
  height: 40px;
  width: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.er-imgtxt span{
  display: block;
  font-size: 18px;
}
.er-imgtxt span.er-imgtips{
  font-size: 12px;
}
.er-imgtxt .er-imgname{
  line-height: 40px;
  font-size: 16px;
}
.er-imglist:hover .er-imgtxt{
  height: 100%;
}
.er-imglist:hover .er-imgtxt>div{
  display: table;
  width: 100%;
  height: 100%;
}
.er-imglist:hover .er-imgtxt>div>div{
  display: table-cell;
  vertical-align: middle;
}
/*吃喝玩乐erji*/
.er-relax-left,
.er-relax-right{
  float: left;
  height: 535px;
  overflow: hidden;
  position: relative;
}
.er-relax-left{
  width:32.8%;
  margin-right: 1%;
}
.er-relax-right{
  width:65.2%;
  padding-left:1.5%;
}
.er-relax-txt-info{
  height: 40px;
  overflow: hidden;
}
.er-relax-img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
}
.er-relax-img .er-relax-imgbg{
  transition: 0.3s;
  height: 100%;
  width: 100%;
  position: absolute;
}
.er-relax-left .er-relax-txt{
  position: absolute;
  bottom: 0;
  background: rgba(255,255,255,0.8);
  height: 100px;
  padding: 15px;
  transition: 0.5s;
  width: 100%;
}
.er-relax-txt{
  font-size: 12px;
  line-height: 20px;
  color: #8c7968;
  transition: 0.3s;
  padding: 5px;
}
.er-relax-txt .er-relax-title{
  padding-bottom: 5px;
  color: #59391e;
}
.er-relax-txt .er-relax-title span.er-relax-name{
  font-size: 16px;
  float: left;
  transition: 0.3s;
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.er-relax-txt .er-relax-title .er-relax-likes{
  float: right;
}
.er-relax-txt .er-relax-title .er-relax-likes span{
  color: #009aa8;
}
 .er-relax-left:hover .er-relax-img{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
} 
.er-relax-left:hover .er-relax-txt{
  display: -webkit-flex;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.er-relax-list{
  float: left;
  width: 31.83%;
  margin:0 1.5% 2.6% 0;
  overflow: hidden;
  position: relative;
  border:1px solid #e3e6e6;
  background: #fff;
}
.er-ch{
  margin-top: 56%;
}
.er-relax-list .er-relax-txt{
  height: 90px;
}
.er-relax-list:hover .er-relax-img .er-relax-imgbg{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.er-relax-list:hover span.er-relax-name{
  color: #009aa8;
}
.er-relax-list:hover .er-relax-txt{
  color: #59391e;
}
/*新闻-内容*/
.news-conbox{
  width: 100%;
  position: relative;
  height: 535px;
  background: rgba(255,255,255,0.4);
  padding: 0 40px;
}

/*新闻-轮播*/
.news-cons{
  float: left;
  width: 50%;
  position: relative;
  height: 100%;
  padding-top: 30px;
}
.news-cons:before{
  position: absolute;
  content: '';
}
.news-left:before{
  border-right: 1px dashed #bcaa99;
  height: 48%;
  right: 0;
  top: 0;
}
.news-right:before{
  border-left: 1px dashed #bcaa99;
  height: 47%;
  bottom: 0;
  left: 0;
}
.news-cons:after{
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #bcaa99;
  transform: rotate(45deg);
  top: 50%;
}
.news-left:after{
  right: -6px;
  top: 49%;
}
.news-right:after{
  left: -6px;
}

.news-left{
  /*border-right: 1px dashed #847a73;*/
  padding-right: 35px;
}
.news-right{
  padding-left: 25px;
}
.nw-wraper
/*.news-list*/{
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  height: 100%;
}
.nw-box{
  width: 1000%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.news-list{
  float: left;
}
.news-list a,.news-txthide a,.more a{
  display: none;
}

.news-img{
  width: 100%;
  height: 314px;
  overflow: hidden;
}
.news-img img{
  height: 100%;
  vertical-align: middle;
}

.news-text{
  padding-top: 30px;
}
.news-text .news-title{
  color: #7e7167;
}
.news-date{
  color: #b3b3b3; 
  font-size: 12px;
}
.news-info{
  padding:15px 0;
  line-height: 25px;
  height: 72px;
  font-size: 12px;
  display: -webkit-box; 
  display: -moz-box;  
  /*white-space: pre-wrap; */
  word-wrap: break-word;
  overflow: hidden; 
  text-overflow: ellipsis; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp:2;
  color: #b3b3b3;
  cursor: pointer;
}
.nes-lsinfo .news-info{
  padding: 0;
  height: 0;
      /*height: 55px;*/
    /*padding: 5px 0;*/
    line-height: 22px;
    padding-left: 17px !important;
}
/*新闻-按钮*/
.news-dir .news-mao {
    float: left;
    border: 1px solid #9a8e84;
    color: #d1c6b4;
    font-size: 24px;
    width: 34px;
    height: 34px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.news-dir{
  position: absolute;
  top: 58%;
  left: 0;
  border: 1px solid #c3b2a4;
}
.news-dir .news-mao{
  background: #fff;
  border: 0;
}
.news-dir .news-prev{
  border-right: 1px solid #c3b2a4;
}
.news-dir .news-mao:hover{
  background: #c3b2a4;
  color: #fff;
}
.by-more{
  color: #9c9288;
}
.by-more span{
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #00a4b3;
  margin-left: 5px;
}
/*新闻列表*/
.nes-lsinfo{
  padding-bottom: 15px;
  cursor: pointer;
}
.news-inhead{
  color: #847a73;
  line-height: 20px;
}
.news-inhead h4{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
}
.nes-lsinfo.active .news-inhead,.news-inhead:hover h4{
  color: #00a4b3;
}
.news-right .news-date{
  padding-left: 17px;
}

.news-txthide{
  position: relative;
  /*display: none;*/
  height: auto;
  overflow: hidden;
}
.nes-lsinfo.active .sort{
  border-bottom-color: #00a4b3;
  border-right-color: #00a4b3;
}
.news-indir{
  width: 100%;
  height: 20px;
  background: url(../images/right.png) left center no-repeat;
  position: absolute;
  left: 17px;
  top: 0;
}
.news-jjt{
  height: 20px;
  padding-left: 17px;
}
.news-more{
  display: none;
}
.nes-lsinfo:first-child .news-info{
  display: block;
  height: 55px;
  padding: 5px 0;
}
.nes-lsinfo:first-child .news-more{
  display: block;
}
.nes-lsinfo:first-child .news-indir{
  /*display: none;*/
  opacity: 0;
}
/*三角形*/
.sort{
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 5px;
  border: 4px solid #968a81;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
}
/*新闻详情列表*/
.er-nwbox{
  padding:15px 0;
  overflow-x: hidden;
}
.er-nlist-info{
  float: left;
  width: 49%;
  border: 1px solid #ddd;
  margin: 0 2% 2% 0;
  padding:0 15px;
  height: 160px;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
  background: rgba(255,255,255,0.2);
}
.er-nwbox .er-nlist-info:nth-of-type(even){
  margin-right: 0;
}
.er-nlist-info h4{
  font-size: 15px;
  font-weight: normal;
  height: 40px;
  line-height: 40px;
  color: #847a73;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.er-nlist-info .er-nlist-txt{
  font-size: 12px;
  color: #999999;
  text-indent: 24px;
  line-height: 20px;
  height: 80px;
  overflow: hidden;
}
.er-nlist-info .er-nlist-txt img{
  float: left;
  width: 120px;
  height: 80px;
  padding-right: 10px;
}

.er-nlist-info .er-nlist-foot{
  clear: both;
  font-size: 12px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-right:30px;
}
.er-nlist-info .er-nlist-foot .er-nlist-date{
  float:left;
  color: #b7b7b6;
}
.er-nlist-info .er-nlist-date span{
  padding-right: 10px;
}
.er-nlist-info .er-nlist-foot .er-nlist-more{
  float: right;
  color: #00a4b3;
}

.er-nlist-info:hover{
  background: rgba(255,255,255,0.4);
  border-color:#00a4b3;
}
.er-nlist-info:hover .er-nlist-txt{
  color: #8c7c6d; 
}
.er-nlist-info:hover h4,
.er-nlist-info:hover .er-nlist-date{
  color:#00a4b3;
}
.er-nlist-info:hover .m-lines{
  width: 20px;
}
.er-nlist-info:hover .m-lines,
.er-nlist-info:hover .m-right{
  border-color:#00a4b3; 
}
.er-nlist-info:hover .flex-xstxt{
  opacity: 1;
}
/*详细*/
.flex-xs{
  float: left;
  position: relative;
  width: 50px;
}
.flex-xstxt{
  opacity: 0;
  transition: 0.5s;
}
.flex-item .m-lines,.flex-item .m-right,
.er-nlist-more .m-lines,
.er-nlist-more .m-right{
  right: 0 !important;
}

/*tuwen*/
.flex-item{
  width: 24%;
  position: relative;
  float:left;
  min-height: 1px;
  padding:3px;
  list-style: none;
    border:1px solid transparent;
    margin:0 0.5%;
}
.flex-item .box{
  width: 100%;
    height:auto;
  padding: 5px;
  border:2px solid #dfd3c8;
  background: #f5f8f8;
    -webkit-transition: .4s all;
  -moz-transition: .4s all;
  -ms-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;   
  text-decoration: none;   
}

.flex-item .box .imgbox{
  position: relative;
  overflow:hidden;
  /*height:180px;*/
  margin: 0 auto;
}
.flex-item .box .imgbox .img-bg{
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}
.flex-item .box .imgbox .ch1{margin-top:65%}

.flex-item .box .title{
  position: relative;
  width: 100%;
  height: 30px;
  font-size: 18px;
  color: #707070;
  line-height: 30px;
  text-align: left; 
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.flex-item .box .title ul{
  float:right;
}
.flex-item .box .title ul li{
  float: left;
}
.flex-item .box .title ul li span{
  display: inline-block;
  width: 22px;
  height: 18px;
  background: url(../images/icons.png)no-repeat;
  vertical-align: middle;
}
.flex-item .box .title ul li span.er-txteye{
  background-position: -20px -260px;
  margin-right:5px;
}
.flex-item .box .title ul li span.er-txtup{
  background-position:-49px -260px;
  margin-right:5px;
}
.flex-item .box .title ul li span.er-txtvideo{
  background-position: -74px -260px;
}
.flex-item .box .title ul li span.er-txtmap{
  background-position: -94px -260px;
}
.flex-item .box .title ul li span.er-txtorder{
  height: 22px;
  border: 1px solid #01a4b3;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #01a4b3;
  margin-left: 5px;
}








.flex-item .box .info{
  position: relative;
  width: 100%;
  height: 115px;
  font-size: 12px;
  color: #b3b3b3;
  line-height: 25px;
  text-align: left; 
  overflow: hidden;
}
.flex-item .box .info p{
  height:75px;
  overflow: hidden;
  /*padding: 10px 0 0;*/
  display: -webkit-box;
    display: -moz-box;
    /* white-space: pre-wrap; */
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.flex-item .box>a{
  display: block;
  overflow: hidden;
}
.title .title-name{
  display: inline-block;
  float: left;
  font-weight: 700;
  white-space: nowrap;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.flex-item .er-con-more{
  padding: 10px 0 10px 5px;
}
 .flex-xs{
  float: left;
  position: relative;
  width: 50px;
}
.flex-item .er-food-likes{
  float: right;
  transition: 0.3s;
}
/*è¯¦ç»†*/
.flex-xstxt{
  opacity: 0;
  transition: 0.5s;
}
.flex-item .m-lines,.flex-item .m-right,
.er-nlist-more .m-lines,
.er-nlist-more .m-right{
  right: 0 !important;
  transition: 0.3s;
}
.flex-item:hover .m-lines{
  width: 20px;
  border-color: #01a4b3;
}
.flex-item:hover .m-right{
  border-color: #01a4b3;
}
.flex-item:hover .flex-xstxt,
.flex-item:hover .er-food-likes{
  opacity: 1;
  color: #01a4b3;
}


.flex-item .title ul li:hover{
  color: #01a4b3;
}
.er-view-more{
  text-align: center;
  padding-top: 25px;
}

.flex-item:hover{
 border:1px solid  #dfd3c8;
}
.flex-item:hover .box {
  border: 2px solid #01a4b3;
}
/*.flex-item:hover .box .title{
  color: #f60;
}*/
.flex-item:hover .box .info{
  color: #968a81;
}
.flex-item:hover .box .imgbox .img-bg{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.flex-item:hover .box .title-name{
  color: #01a4b3;
}
ul:after,.er-nlist:after,.er-relax-title:after,.er-tour-box:after,.er-relax-content:after,.er-txtimgbox:after,.er-imglistbox:after{
  display: block;
  content: '';
  clear: both;
}
@media (max-width: 1450px){
   /********顶部及导航样式开始***********************/
   .topmenuBox .logo{ width:226px; height:72px; position:absolute;top:10px; left:30px; background:url(../images/logo.png) left 0px no-repeat;}
   .topmenuBox .top-rightmenu{ width:240px; height:20px; position:absolute; top:20px; right:30px;}
   .topmenuBox .top-rightTel{ float:left; width:200px; height:20px; border:1px solid #a68a72; font:12px "微软雅黑" "宋体"; line-height:20px; color:#a68a72; text-align:center;}
   .topmenuBox .top-rightmenuBox{float:left; width:40px; height:25px; font-size:12px;}
   .topmenuBox .top-rightmenuBox dd{ width:20px; height:20px; float:left; cursor:pointer; position:relative;}
   .topmenuBox .top-rightmenuBox dd a{ width:20px; height:20px; display:block;}
   .topmenuBox .top-rightmenuBox .bt1 a{background:#009aa8; color:#fff; text-align:center; line-height:20px;}
   .topmenuBox .top-rightmenuBox .bt1 a:hover{color:#ff0;}
   .topmenuBox .top-rightmenuBox .bt2 a{background:#a68a72; color:#fff; text-align:center; line-height:20px;}
   .topmenuBox .top-rightmenuBox .bt2 a:hover{background:#009aa8;}
}

@media (max-width: 1370px){
   .topmenuBox .logo{ width:226px; height:72px; position:absolute;top:10px; left:20px; background:url(../images/logo.png) left 5px no-repeat; background-size:auto 75%;}
   .topmenuBox .top-rightmenu{ width:240px; height:20px; position:absolute; top:20px; right:20px;}
}

@media (max-width: 1030px){
}