<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>黄鹤湖景区</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- 图标 CSS-->
    <link rel="stylesheet" href="../fonts/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="../fonts/web-icons/web-icons.css">
    <link rel="stylesheet" href="../fonts/font-awesomex/css/font-awesome.min.css">
    <!-- CSS -->
    <link href="../css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/index.css">
 
    <link rel="stylesheet" href="../css/animation.css">
    <script src="../js/jquery.js"></script>
</head>
<body>
	<nav class="touch-nav">
		<ul>
			<li class="touch-tel">咨询投诉电话：0832-8866866</li>
			<li class="touch-zw touch-yy active">中文</li>
			<li class="touch-eg touch-yy">EN</li>
		</ul>
	</nav>
	<div class="container">
		<div class="logo">
			<img src="../images/logo.png" alt="">
		</div>
		<div class="wraper">
			<div class="wraper-box">
				<!-- 风景 -->
				<div class="wraper-list wraper-view active">
					<div class="wraper-txt-box">
						<div class="wraper-txt-img"></div>
						<div class="box-bg"></div>
						<div class="wraper-txt-right">
							<div class="wraper-txt-title">
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="wraper-txt-info">
								<p class="wraper-txt-eg wraper-txt-animation">BEAUTIFUL SCENERY</p>
								<p class="wraper-txt-desc wraper-txt-animation">水色湖光，碧波映霓裳，观尚腾，老村新颜欢笑流淌</p>
								<p class="wraper-txt-summary">
									<span>画仙故里·诗画田园</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- 韵味 -->
				<div class="wraper-list wraper-rhyme">
					<div class="wraper-txt-box">
						<div class="box-bg"></div>
						<div class="wraper-txt-img"></div>
						<div class="wraper-txt-right">
							<div class="wraper-txt-title">
								<span></span>
							</div>
							<div class="wraper-txt-info">
								<p class="wraper-txt-eg">
									<span class="eg-addr">川南</span>
									<span class="eg-desc">
										<span style="display: block;"><span style="color:#875561;">SMELL</span> OF</span>
										<span>SOUTHERN SICHUAN</span>
									</span>
								</p>
								<p class="wraper-txt-desc">
									<span class="txt-cute">东墙外，篱笆下，眺炊烟缥缈美如画;</span>
									<span class="txt-cute">画苑内，朗庭中，观梅赏荷品独到风味.</span>
								</p>
								<p class="wraper-txt-summary txt-cute">
									<span>画仙故里·诗画田园</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- 玩 -->
				<div class="wraper-list wraper-play">
					<div class="wraper-txt-box">
						<div class="box-bg"></div>
						<div class="wraper-txt-img"></div>
						<div class="wraper-txt-right">
							<div class="wraper-txt-title">
								<span></span>
								<p class="wraper-txt-eg">
									<span>刺激</span>
									<span>PLAYING STIMULUS</span>
								</p>
							</div>
							<div class="wraper-txt-info">
								<p class="wraper-txt-desc">爱上骏马，驰骋任鞭挞，思过往，眼中皆繁花。</p>
								<p class="wraper-txt-name">川南大草原</p>
								<p class="wraper-txt-summary">
									<span>画仙故里·诗画田园</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- 乐 -->
				<div class="wraper-list wraper-fish">
					<div class="wraper-txt-box">
						<div class="wraper-txt-img"></div>
						<div class="box-bg"></div>
						<div class="wraper-txt-right">
							<div class="wraper-txt-title">
								<span></span>
								<p class="wraper-txt-eg">
									<span class="fish-title">自在</span>
									<span class="fish-eg">
										<span>ENJOY</span><br/>
										<span>COMFORTABLE</span>
									</span>
								</p>
							</div>
							<div class="wraper-txt-info">
								<p class="wraper-txt-adv">清风鸟语间，宁静相伴，心致远，返璞归自然</p>
								<p class="wraper-txt-desc">川南最大最专业的钓鱼基地...</p>
								<p class="wraper-txt-summary">
									<span>画仙故里·诗画田园</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- 内容 -->
			<div class="wraper-pages">
				<ul>
					<li class="active"></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div> <!-- 分页 -->
			<div class="wraper-dir">
				<div class="wraper-left wraper-control"></div>
				<div class="wraper-right wraper-control"></div>
			</div> <!-- 方向 -->
		</div>
	</div>

	<footer>
		<div class="foot-box">		
			<div class="foot-center foot">
				<ul>
					<li class="center-list">
						<a href="er-river.html">
							<span></span>
							走进黄鹤湖
						</a>
					</li>
					<li class="center-list">
						<a href="view-cul.html">
							<span></span>
							景区文化
						</a>
					</li>
					<li class="center-list">
						<a href="video-jd.html">
							<span></span>
							景区影像
						</a>
					</li>
					<li class="center-list">
						<a href="plays-mstj.html">
							<span></span>
							吃喝玩乐
						</a>
					</li>
					<li class="center-list">
						<a href="news-xm.html">
							<span></span>
							新闻资讯
						</a>
					</li>
					<li class="center-list">
						<a href="lv-server.html">
							<span></span>
							旅游服务
						</a>
					</li>
					<li class="center-list">
						<a href="nj-gk.html">
							<span></span>
							魅力内江
						</a>
					</li>
				</ul>
			</div>
			<div class="foot-left foot">
				<div class="ft-wx ft-links">
					<span></span>
					官方微信
					<div class="wx-info ft-info">
						<div class="wx-img">
							<img src="../images/erwm.png" alt="">
						</div>
						<div class="wx-txt">
							<p>黄鹤湖旅游景区<br>官方微信工作平台</p>
							<p class="wx-number">扫一扫，关注更精彩<br>微信号：125632</p>
						</div>
					</div>
				</div>

				<div class="ft-tel ft-links">
					<span></span>
					咨询热线
					<div class="tel-info ft-info">
						<p class="tel-server">咨询服务热线：0832-8855898</p>
						<p class="tel-salf">救援服务电话：0832-6677676</p>
						<p class="tel-ts">景区投诉电话：0832-5566565</p>
						<p class="tel-hot">全国旅游投诉热线：12301</p>
					</div>
				</div>
			</div>
			<div class="foot-right foot">
				<ul>
					<li class="ft-rtxt">版权所有：内江市黄鹤湖旅游景区管理委员会</li>
					<li class="ft-rtxt">Copyright @ hhhly.cn All right Resrrved </li>
					<li class="ft-rtxt">地址：四川·内江·市中区·永安镇 </li>
					<li class="ft-rtxt">全案策划 ：绵阳金石文化</li>
				</ul>
			</div>
		</div>
	</footer>
	<script src='../js/jquery.min.js'></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/pic-slide.js"></script>
	<script src='../js/index.js'></script>
</body>
</html>