<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>咨询留言</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- 图标 CSS-->
    <link rel="stylesheet" href="../fonts/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="../fonts/web-icons/web-icons.css">
    <link rel="stylesheet" href="../fonts/font-awesomex/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/erstyle.css">
	<script type="text/javascript" src="../js/touchScroll.js"></script>
</head>
<body>
	<div class="tc-center tc-box">
		<div class="tc-content">
			<div class="tc-lines"><span></span></div>
			<div class="tc-head">
				<div class="about-title">
					<p class="about-name">旅游服务</p>
					<p class="banner-eg">Tourist Service</p>
				</div>
				<div class="er-menu">
					<ul class="er-list">
						<li class="er-nav active">
							<a href="lv-server.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">温馨提示</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="lv-zxly.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">咨询留言</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="lv-tsjy.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">投诉建议</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="lv-wjdc.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">问卷调查</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="lv-num.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">游客量</span>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="san-box">
				<div class="er-about-content" id="tch-lvtips">
					<div class="er-txtbox">
						<div class="er-txtinfo">
							<div class="tic-tab">
								<a href="lv-tsjy.html" class="active">投诉建议</a>
								<a href="lv-dchf.html">留言回复</a>
							</div>
							<form action="">
								<div class="tic-order">
									<div class="tic-info">
										<div class="tic-label tic-desc"><label for="">主题</label></div>
										<div class="tic-right">
											<input type="text" placeholder="请输入主题">
										</div>
									</div>
									<div class="tic-info tic-names">
										<div class="tic-label tic-desc"><label for="">姓　　名</label></div>
										<div class="tic-right">
											<input type="text" placeholder="请输入姓名">
											<input type="radio" name="sex"> 先生
											<input type="radio" name="sex"> 女士
										</div>
									</div>
									<div class="tic-info tic-feelings">
										<div class="tic-label tic-desc"><label for="">表　　情</label></div>
										<div class="tic-right">
											<div class="feelings-info">
												<img src="../images/01.gif" alt="">
												<input type="radio" name="feells">
											</div>
											<div class="feelings-info">
												<img src="../images/02.gif" alt="">
												<input type="radio" name="feells">
											</div>
											<div class="feelings-info">
												<img src="../images/03.gif" alt="">
												<input type="radio" name="feells">
											</div>
											<div class="feelings-info">
												<img src="../images/04.gif" alt="">
												<input type="radio" name="feells">
											</div>
											<div class="feelings-info">
												<img src="../images/05.gif" alt="">
												<input type="radio" name="feells">
											</div>
											<div class="feelings-info">
												<img src="../images/06.gif" alt="">
												<input type="radio" name="feells">
											</div>
											<div class="feelings-info">
												<img src="../images/07.gif" alt="">
												<input type="radio" name="feells">
											</div>
										</div>
									</div>
									<div class="tic-info">
										<div class="tic-label tic-desc"><label for="">联系电话</label></div>
										<div class="tic-right">
											<input type="text" placeholder="请输入联系电话">
										</div>
									</div>
									<div class="tic-info">
										<div class="tic-label tic-desc"><label for="">邮箱</label></div>
										<div class="tic-right">
											<input type="text" placeholder="请输入邮箱地址">
										</div>
									</div>
									<div class="tic-info tic-remark">
										<div class="tic-label tic-desc"><label for="">内容</label></div>
										<div class="tic-right">
											<textarea name="" id=""></textarea>
										</div>
									</div>
									<div class="tic-info tic-number">
										<div class="tic-label tic-desc"><label for="">验证码</label></div>
										<div class="tic-right">
											<input type="text" placeholder="请输入验证码">
											<img src="" alt="验证码">
										</div>
									</div>
								</div>
								<div class="tic-btns">
									<button class="tic-desc tic-sure">提交</button>
									<button class="tic-desc tic-reset">重置</button>
								</div>
							</form>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tc-nav tc-box">
		<div class="tc-logo">
			<img src="../images/touch-logo.png" alt="">
		</div>
		<div class="tc-navbar">
			<ul>
				<li class="tc-navbar-list tc-vriver">
					<a href="er-river.html">
						<span></span>
						走进黄鹤湖
					</a>
				</li>
				<li class="tc-navbar-list tc-vcul">
					<a href="view-cul.html">
						<span></span>
						景区文化
					</a>
				</li>
				<li class="tc-navbar-list tc-vvideo">
					<a href="video-jd.html">
						<span></span>
						景区影像
					</a>
				</li>
				<li class="tc-navbar-list tc-vpalys">
					<a href="plays-mstj.html">
						<span></span>
						吃喝玩乐
					</a>
				</li>
				<li class="tc-navbar-list tc-vnews">
					<a href="news-xm.html">
						<span></span>
						资讯/活动
					</a>
				</li>
				<li class="tc-navbar-list tc-vserver">
					<a href="javascript:;">
						<span></span>
						旅游服务
					</a>
				</li>
				<li class="tc-navbar-list tc-vaddr">
					<a href="javascript:;">
						<span></span>
						魅力内江
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="tc-direct tc-box">
		<div class="tc-drbox">
			<ul>
				<li class="tc-drbox-list tc-home">
					<a href="javascript:;">
						<span></span>
						主页
					</a>
				</li>
				<li class="tc-drbox-list tc-wchart">
					<a href="javascript:;">
						<span></span>
						官方微信
					</a>
				</li>
				<li class="tc-drbox-list tc-prev">
					<a href="javascript:;">
						<span></span>
						上一页
					</a>
				</li>
				<li class="tc-drbox-list tc-next">
					<a href="javascript:;">
						<span></span>
						下一页
					</a>
				</li>
			</ul>
		</div>
	</div>
	<script src='../js/jquery.min.js'></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/pic-slide.js"></script>
	<script src='../js/index.js'></script>
	<script>
	var t1=new TouchScroll({id:'tch-lvtips','width':5,'opacity':0.7,color:'#555',minLength:5});
	</script>

</body>
</html>