<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>咨询留言</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- 图标 CSS-->
    <link rel="stylesheet" href="../fonts/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="../fonts/web-icons/web-icons.css">
    <link rel="stylesheet" href="../fonts/font-awesomex/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/erstyle.css">
	<script type="text/javascript" src="../js/touchScroll.js"></script>
</head>
<body>
	<div class="tc-center tc-box">
		<div class="tc-content">
			<div class="tc-lines"><span></span></div>
			<div class="tc-head">
				<div class="about-title">
					<p class="about-name">旅游服务</p>
					<p class="banner-eg">Tourist Service</p>
				</div>
				<div class="er-menu">
					<ul class="er-list">
						<li class="er-nav active">
							<a href="lv-server.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">温馨提示</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="lv-zxly.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">咨询留言</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="lv-tsjy.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">投诉建议</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="lv-wjdc.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">问卷调查</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="lv-num.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">游客量</span>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="san-box">
				<div class="er-about-content" id="tch-lvtips">
					<div class="er-txtbox">
						<div class="er-txtinfo">
							<div class="tic-tab">
								<a href="lv-wjdc.html" class="active">问卷调查</a>
								<a href="lv-dcjg.html">调查结果</a>
							</div>
							<div class="tic-check">
								<table class="check-box">
									<tr>
										<th colspan="2">问卷：你对我景区的的服务与设施满意吗？</th>
									</tr>
									<tr class="check-info">
										<td>
											<input type="radio" name="check">
											A.　非常满意
										</td>
										<td>
											<input type="radio" name="check">
											 B.　满意
										</td>
									</tr>
									<tr class="check-info">
										<td>
											<input type="radio" name="check">
											 C.　一般
										</td>
										<td>
											<input type="radio" name="check">
											D.　不满意
										</td>
									</tr>
									<tr>
										<th colspan="2">问卷：你对我景区的的服务与设施满意吗？</th>
									</tr>
									<tr class="check-info">
										<td>
											<input type="radio" name="check">
											A.　非常满意
										</td>
										<td>
											<input type="radio" name="check">
											 B.　满意
										</td>
									</tr>
									<tr class="check-info">
										<td>
											<input type="radio" name="check">
											 C.　一般
										</td>
										<td>
											<input type="radio" name="check">
											D.　不满意
										</td>
									</tr>
									<tr>
										<th colspan="2">问卷：你对我景区的的服务与设施满意吗？</th>
									</tr>
									<tr class="check-info">
										<td>
											<input type="radio" name="check">
											A.　非常满意
										</td>
										<td>
											<input type="radio" name="check">
											 B.　满意
										</td>
									</tr>
									<tr class="check-info">
										<td>
											<input type="radio" name="check">
											 C.　一般
										</td>
										<td>
											<input type="radio" name="check">
											D.　不满意
										</td>
									</tr>
									<tr>
										<th colspan="2">问卷：你对我景区的的服务与设施满意吗？</th>
									</tr>
									<tr class="check-info">
										<td>
											<input type="radio" name="check">
											A.　非常满意
										</td>
										<td>
											<input type="radio" name="check">
											 B.　满意
										</td>
									</tr>
									<tr class="check-info">
										<td>
											<input type="radio" name="check">
											 C.　一般
										</td>
										<td>
											<input type="radio" name="check">
											D.　不满意
										</td>
									</tr>
									<tr>
										<th colspan="2">问卷：你对我景区的的服务与设施满意吗？</th>
									</tr>
									<tr class="check-info">
										<td>
											<input type="radio" name="check">
											A.　非常满意
										</td>
										<td>
											<input type="radio" name="check">
											 B.　满意
										</td>
									</tr>
									<tr class="check-info">
										<td>
											<input type="radio" name="check">
											 C.　一般
										</td>
										<td>
											<input type="radio" name="check">
											D.　不满意
										</td>
									</tr>
									<tr>
										<th colspan="2">问卷：你对我景区的的服务与设施满意吗？</th>
									</tr>
									<tr class="check-info">
										<td>
											<input type="radio" name="check">
											A.　非常满意
										</td>
										<td>
											<input type="radio" name="check">
											 B.　满意
										</td>
									</tr>
									<tr class="check-info">
										<td>
											<input type="radio" name="check">
											 C.　一般
										</td>
										<td>
											<input type="radio" name="check">
											D.　不满意
										</td>
									</tr>
									<tr>
										<td colspan="2" class="tic-btns"><button class="tic-desc tic-sure">提交</button></td>
									</tr>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tc-nav tc-box">
		<div class="tc-logo">
			<img src="../images/touch-logo.png" alt="">
		</div>
		<div class="tc-navbar">
			<ul>
				<li class="tc-navbar-list tc-vriver">
					<a href="er-river.html">
						<span></span>
						走进黄鹤湖
					</a>
				</li>
				<li class="tc-navbar-list tc-vcul">
					<a href="view-cul.html">
						<span></span>
						景区文化
					</a>
				</li>
				<li class="tc-navbar-list tc-vvideo">
					<a href="video-jd.html">
						<span></span>
						景区影像
					</a>
				</li>
				<li class="tc-navbar-list tc-vpalys">
					<a href="plays-mstj.html">
						<span></span>
						吃喝玩乐
					</a>
				</li>
				<li class="tc-navbar-list tc-vnews">
					<a href="news-xm.html">
						<span></span>
						资讯/活动
					</a>
				</li>
				<li class="tc-navbar-list tc-vserver">
					<a href="javascript:;">
						<span></span>
						旅游服务
					</a>
				</li>
				<li class="tc-navbar-list tc-vaddr">
					<a href="javascript:;">
						<span></span>
						魅力内江
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="tc-direct tc-box">
		<div class="tc-drbox">
			<ul>
				<li class="tc-drbox-list tc-home">
					<a href="javascript:;">
						<span></span>
						主页
					</a>
				</li>
				<li class="tc-drbox-list tc-wchart">
					<a href="javascript:;">
						<span></span>
						官方微信
					</a>
				</li>
				<li class="tc-drbox-list tc-prev">
					<a href="javascript:;">
						<span></span>
						上一页
					</a>
				</li>
				<li class="tc-drbox-list tc-next">
					<a href="javascript:;">
						<span></span>
						下一页
					</a>
				</li>
			</ul>
		</div>
	</div>
	<script src='../js/jquery.min.js'></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/pic-slide.js"></script>
	<script src='../js/index.js'></script>
	<script>
	var t1=new TouchScroll({id:'tch-lvtips','width':5,'opacity':0.7,color:'#555',minLength:5});
	</script>

</body>
</html>