<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>吃喝玩乐-美食推荐</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- 图标 CSS-->
    <link rel="stylesheet" href="../fonts/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="../fonts/web-icons/web-icons.css">
    <link rel="stylesheet" href="../fonts/font-awesomex/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/erstyle.css">
	<script type="text/javascript" src="../js/touchScroll.js"></script>
</head>
<body>
	<div class="tc-center tc-box">
		<div class="tc-content">
			<div class="tc-lines"><span></span></div>
			<div class="tc-head">
				<div class="about-title">
					<p class="about-name">吃喝玩乐</p>
					<p class="banner-eg">Enjoy Yourselves</p>
				</div>
				<div class="er-menu">
					<ul class="er-list">
						<li class="er-nav active">
							<a href="plays-mstj.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">特色美食</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="plays-tsp.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">酒店住宿</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="plays-tsp.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">旅游出行</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="plays-tsp.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">周边旅游</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="plays-tsp.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">旅游购物</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="plays-tsp.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">休闲娱乐</span>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="san-box">
				<div class="er-about-content" id="tch-videojd">
					<div class="er-txtbox">
						<div class="er-txtinfo">
							<div class="con-plays">
								<div class="plays-info">
									<div class="plays-box">
										<div class="plays-info-list plays-foods plays-right-animate plays-scale">
											<div class="plays-bg"></div>
											<span class="plays-title"></span>
											<div class="plays-txt">
												<ul>
													<li>
														<a href="javascript:;">
															<span>+</span>
															大千鸡块
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															内江牛肉面
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															大千干烧鱼
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															内江牛肉面
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															查看更多 +
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="plays-box">
										<div class="plays-info-list plays-gogo plays-left-animate plays-scale">
											<div class="plays-bg"></div>
											<span class="plays-title"></span>
											<div class="plays-txt">
												<ul>
													<li>
														<a href="javascript:;">
															<span>+</span>
															市内交通指南
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															成都至黄鹤湖
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															重庆至鹤湖
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															市内交通指南
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															查看更多 +
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="plays-info">
									<div class="plays-box plays-stay plays-scale">
										<div class="plays-bg"></div>
										<span class="plays-title"></span>
										<div class="plays-txt">
											<ul>
													<li>
														<a href="javascript:;">
															<span>+</span>
															内江艾林大千国际酒店
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															内江巨洋锦官大酒店
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															内江万达嘉华酒店
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															内江格调酒店
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															查看更多 +
														</a>
													</li>
												</ul>
										</div>
									</div>
								</div>
								<div class="plays-info">
									<div class="plays-box">
										<div class="plays-info-list plays-nearby plays-left-animate plays-scale">
											<div class="plays-bg"></div>
											<span class="plays-title"></span>
											<div class="plays-txt">
												<ul>
													<li>
														<a href="javascript:;">
															<span>+</span>
															大千园景区
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															隆昌石牌坊景区
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															隆昌古宇湖景区
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															圣水寺景区
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															查看更多 +
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="plays-box">
										<div class="plays-info-list plays-shop plays-right-animate plays-scale">
											<div class="plays-bg"></div>
											<span class="plays-title"></span>
											<div class="plays-txt">
												<ul>
													<li>
														<a href="javascript:;">
															<span>+</span>
															荷花系列商品
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															书画系列商品
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															农特产品
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															书画系列商品
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															查看更多 +
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="plays-info">
									<div class="plays-box plays-enter plays-scale">
										<div class="plays-bg"></div>
										<span class="plays-title"></span>
										<div class="plays-txt">
											<ul>
													<li>
														<a href="javascript:;">
															<span>+</span>
															翡翠茗轩咖啡茶语
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															慕斯派量贩KTV娱乐休闲会所
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															翡翠茗轩咖啡茶语
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															慕斯派量贩KTV娱乐休闲会所
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span>+</span>
															查看更多 +
														</a>
													</li>
												</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tc-nav tc-box">
		<div class="tc-logo">
			<img src="../images/touch-logo.png" alt="">
		</div>
		<div class="tc-navbar">
			<ul>
				<li class="tc-navbar-list tc-vriver active">
					<a href="javascript:;">
						<span></span>
						走进黄鹤湖
					</a>
				</li>
				<li class="tc-navbar-list tc-vcul">
					<a href="javascript:;">
						<span></span>
						景区文化
					</a>
				</li>
				<li class="tc-navbar-list tc-vvideo">
					<a href="javascript:;">
						<span></span>
						景区影像
					</a>
				</li>
				<li class="tc-navbar-list tc-vpalys">
					<a href="javascript:;">
						<span></span>
						吃喝玩乐
					</a>
				</li>
				<li class="tc-navbar-list tc-vnews">
					<a href="javascript:;">
						<span></span>
						资讯/活动
					</a>
				</li>
				<li class="tc-navbar-list tc-vserver">
					<a href="javascript:;">
						<span></span>
						旅游服务
					</a>
				</li>
				<li class="tc-navbar-list tc-vaddr">
					<a href="javascript:;">
						<span></span>
						魅力内江
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="tc-direct tc-box">
		<div class="tc-drbox">
			<ul>
				<li class="tc-drbox-list tc-home">
					<a href="javascript:;">
						<span></span>
						主页
					</a>
				</li>
				<li class="tc-drbox-list tc-wchart">
					<a href="javascript:;">
						<span></span>
						官方微信
					</a>
				</li>
				<li class="tc-drbox-list tc-prev">
					<a href="javascript:;">
						<span></span>
						上一页
					</a>
				</li>
				<li class="tc-drbox-list tc-next">
					<a href="javascript:;">
						<span></span>
						下一页
					</a>
				</li>
			</ul>
		</div>
	</div>

	<script src='../js/jquery.min.js'></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/pic-slide.js"></script>
	<script src='../js/index.js'></script>
	<script>
	 var t1=new TouchScroll({id:'tch-videojd','width':5,'opacity':0.7,color:'#555',minLength:5});
	</script>

</body>
</html>