<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>吃喝玩乐-二级旅游出行</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- 图标 CSS-->
    <link rel="stylesheet" href="../fonts/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="../fonts/web-icons/web-icons.css">
    <link rel="stylesheet" href="../fonts/font-awesomex/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/erstyle.css">
	<script type="text/javascript" src="../js/touchScroll.js"></script>
</head>
<body>
	<div class="tc-center tc-box">
		<div class="tc-content">
			<div class="tc-lines"><span></span></div>
			<div class="tc-head">
				<div class="about-title">
					<p class="about-name">吃喝玩乐</p>
					<p class="banner-eg">Enjoy Yourselves</p>
				</div>
				<div class="er-menu">
					<ul class="er-list">
						<li class="er-nav active">
							<a href="plays-mstj.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">特色美食</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="plays-tsp.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">酒店住宿</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="plays-tsp.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">旅游出行</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="plays-tsp.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">周边旅游</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="plays-tsp.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">旅游购物</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav">
							<a href="plays-tsp.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">休闲娱乐</span>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- 内容 -->
			<!-- 旅游出行 -->
			<div class="er-tour">
				<div class="er-tour-content">
					<div class="er-tour-box">
						<div class="er-tour-left">
							<h4>出行指南</h4>
							<p class="er-tour-txt">黄鹤湖旅游区为位于四川省内江市市中区永安镇，地处重庆、成都、遂宁的中心地带，距离内江市区约20KM，距成都约180km，距遂宁约140km，距离重庆月160km，地理位置优越，交通便捷...</p>
							<div class="er-more er-lvmore">
								<a href="javascript:;">汽车时刻查询</a>
								<a href="javascript:;">火车时刻查询</a>
								<a href="javascript:;">天气查询</a>
								<a href="javascript:;">更多信息</a>
							</div>
						</div>
						<div class="er-tour-right">
							<ul class="er-rnav">
								<li>攻略</li>
								<li class="active">游记</li>
							</ul>
							<p class="er-tour-txt">这里有最全面最权威的景区游览攻略，我们竭诚为您提供最为准确的旅游出行信息，您也可以把您的旅后感及攻略信息发上传至我们的网站..</p>
							<div class="er-more er-lvmore">
								<a href="javascript:;">查看更多攻略</a>
								<a href="javascript:;">分享我的游记</a>
							</div>
						</div>
					</div>
					<div class="er-tour-line"></div>
					<div class="er-tour-box">
						<div class="er-tour-left">
							<ul class="er-tour-cars">
								<li>
									<a href="javascript:;">
										<span>+</span>内江市内交通指南<span class="er-tour-date">[UPDATA: 2017/08/06]</span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span>+</span>内江市至黄河湖旅游区交通指南<span class="er-tour-date">[UPDATA: 2017/08/06]</span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span>+</span>成都至内江黄鹤湖旅游区 <span class="er-tour-date">[UPDATA: 2017/08/06]</span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span>+</span>重庆至内江黄鹤湖旅游区 <span class="er-tour-date">[UPDATA: 2017/08/06]</span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span>+</span>成渝高铁内江停靠班次及时刻 <span class="er-tour-date">[UPDATA: 2017/08/06]</span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span>+</span>遂宁至内江黄鹤湖旅游区<span class="er-tour-date">[UPDATA: 2017/08/06]</span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span>+</span>内江市客运车站信息查询<span class="er-tour-date">[UPDATA: 2017/08/06]</span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<span>+</span>内江市至黄河湖旅游区交通指南 <span class="er-tour-date">[UPDATA: 2017/08/06]</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="er-tour-right">
							<div class="er-tour-info">
								<div class="er-tour-ihead er-tour-cars">
									<img src="images/food1.jpg" alt="">
									<a href="javascript:;">
										<span class="er-ihead-title">
											<span>+ 黄鹤湖旅游区旅游攻略 </span>
											<span class="er-tour-date">[UPDATA: 2017/08/06]</span>
										</span><br/>
										<span class="er-ihead-txt">
											黄鹤湖旅游区为位于四川省内江市市中区永安镇，地处重庆、成都、遂宁的中心地带，距离内江市区约20KM，距成都约180km，距遂宁约140km，距离重庆月
										</span>
									</a>
								</div>
								<div class="er-tour-cars">
									<ul>
										<li>
											<a href="javascript:;">
												<span>+</span>重庆至内江黄鹤湖旅游区 <span class="er-tour-date">[UPDATA: 2017/08/06]</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span>+</span>成渝高铁内江停靠班次及时刻 <span class="er-tour-date">[UPDATA: 2017/08/06]</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span>+</span>遂宁至内江黄鹤湖旅游区<span class="er-tour-date">[UPDATA: 2017/08/06]</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span>+</span>内江市客运车站信息查询<span class="er-tour-date">[UPDATA: 2017/08/06]</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span>+</span>内江市至黄河湖旅游区交通指南 <span class="er-tour-date">[UPDATA: 2017/08/06]</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="er-tour-info active">
								<div class="er-tour-ihead er-tour-cars">
									<img src="images/food1.jpg" alt="">
									<a href="javascript:;">
										<span class="er-ihead-title">
											<span>+ 黄鹤湖旅游区旅游攻略 </span>
											<span class="er-tour-date">[UPDATA: 2017/08/06]</span>
										</span><br/>
										<span class="er-ihead-txt">
											黄鹤湖旅游区为位于四川省内江市市中区永安镇，地处重庆、成都、遂宁的中心地带，距离内江市区约20KM，距成都约180km，距遂宁约140km，距离重庆月
										</span>
									</a>
								</div>
								<div class="er-tour-cars">
									<ul>
										<li>
											<a href="javascript:;">
												<span>+</span>重庆至内江黄鹤湖旅游区 <span class="er-tour-date">[UPDATA: 2017/08/06]</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span>+</span>成渝高铁内江停靠班次及时刻 <span class="er-tour-date">[UPDATA: 2017/08/06]</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span>+</span>遂宁至内江黄鹤湖旅游区<span class="er-tour-date">[UPDATA: 2017/08/06]</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span>+</span>内江市客运车站信息查询<span class="er-tour-date">[UPDATA: 2017/08/06]</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span>+</span>内江市至黄河湖旅游区交通指南 <span class="er-tour-date">[UPDATA: 2017/08/06]</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="er-more">
					<a href="javascript:;">查看更多详情</a>
				</div>
			</div>
		</div>
	</div>
	<div class="tc-nav tc-box">
		<div class="tc-logo">
			<img src="../images/touch-logo.png" alt="">
		</div>
		<div class="tc-navbar">
			<ul>
				<li class="tc-navbar-list tc-vriver active">
					<a href="javascript:;">
						<span></span>
						走进黄鹤湖
					</a>
				</li>
				<li class="tc-navbar-list tc-vcul">
					<a href="javascript:;">
						<span></span>
						景区文化
					</a>
				</li>
				<li class="tc-navbar-list tc-vvideo">
					<a href="javascript:;">
						<span></span>
						景区影像
					</a>
				</li>
				<li class="tc-navbar-list tc-vpalys">
					<a href="javascript:;">
						<span></span>
						吃喝玩乐
					</a>
				</li>
				<li class="tc-navbar-list tc-vnews">
					<a href="javascript:;">
						<span></span>
						资讯/活动
					</a>
				</li>
				<li class="tc-navbar-list tc-vserver">
					<a href="javascript:;">
						<span></span>
						旅游服务
					</a>
				</li>
				<li class="tc-navbar-list tc-vaddr">
					<a href="javascript:;">
						<span></span>
						魅力内江
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="tc-direct tc-box">
		<div class="tc-drbox">
			<ul>
				<li class="tc-drbox-list tc-home">
					<a href="javascript:;">
						<span></span>
						主页
					</a>
				</li>
				<li class="tc-drbox-list tc-wchart">
					<a href="javascript:;">
						<span></span>
						官方微信
					</a>
				</li>
				<li class="tc-drbox-list tc-prev">
					<a href="javascript:;">
						<span></span>
						上一页
					</a>
				</li>
				<li class="tc-drbox-list tc-next">
					<a href="javascript:;">
						<span></span>
						下一页
					</a>
				</li>
			</ul>
		</div>
	</div>

	<script src='../js/jquery.min.js'></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/pic-slide.js"></script>
	<script src='../js/index.js'></script>
	<script>
	 var t1=new TouchScroll({id:'tch-videojd','width':5,'opacity':0.7,color:'#555',minLength:5});
	</script>

</body>
</html>