<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>吃喝玩乐-美食推荐</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- 图标 CSS-->
    <link rel="stylesheet" href="../fonts/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="../fonts/web-icons/web-icons.css">
    <link rel="stylesheet" href="../fonts/font-awesomex/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/erstyle.css">
	<script type="text/javascript" src="../js/touchScroll.js"></script>
</head>
<body>
	<div class="tc-center tc-box">
		<div class="tc-content">
			<div class="tc-lines"><span></span></div>
			<div class="tc-head">
				<div class="about-title">
					<p class="about-name">吃喝玩乐</p>
					<p class="banner-eg">Enjoy Yourselves</p>
				</div>
				<div class="er-menu">
					<ul class="er-list">
						<li class="er-nav active" name='section1'>
							<a href="plays-mstj.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">美食推荐</span>
									</div>
								</div>
							</a>
						</li>
						<li class="er-line"><span></span></li>
						<li class="er-nav" name='section2'>
							<a href="plays-tsp.html">
								<div class="max-circle">
									<div class="min-circle">
										<span class="cir-txt">特色商品</span>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="san-box">
				<div class="er-about-content" id="tch-videojd">
					<div class="er-txtbox">
						<div class="er-txtinfo">
							<div class="san-search san-lines">
								<a href="javascript:;"><span class="fa-eye"></span>虚拟实景</a>
								<a href="javascript:;" class="san-audio">
									<span class=" fa-volume-up"></span>自助讲解
									<audio src="images/speed.mp3" controls style="vertical-align: middle;" id="audio"></audio>
								</a>
								<a href="javascript:;" class="san-maps-btn"><span class="fa-map-marker"></span>地图导航</a>
							</div>
							<div class="san-txt-img">
									<img src="../images/sp-i.png" alt="">
							</div>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。<br/>
							景区历史文化底蕴厚重。景区聚集了朝阳古街、复觉寺、朝阳寺、圣水寺，以及高居山坳的龙居山古牌坊，供奉福、禄、寿的三星庙等众多独具魅力的古迹，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。<br/>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村相映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。
							<div class="er-imglist">
								<div class="flex-item">
									<a href="javascript:;">
										<div class="box">
											<div class="imgbox" style="background: url(../images/sp-i.png) center center no-repeat;background-size:cover ;">
												<div class="ch1"></div>
											</div>
											<div class="title">
												<span class="title-name">游客中心</span>
												<ul>
													<li>
														<a href="javascript:;">
															<span class="fa-eye"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class=" fa-volume-up"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class=" fa-play-circle-o"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class="fa-map-marker"></span>
														</a>
													</li>
												</ul>
											</div>
											<div class="info">
												<p>
												坚持“以人为本”、“健康第一”的指导思想，注重“理论与实践结合，教学与科研并重”的宗旨记注重“理论与实践结合，教学与科研并重”的宗旨记
												</p>
												<div class="er-con-more">
													<a href="javascript:;"><span class=" fa-plus"></span>详细</a>
													<span class="er-food-likes">
														<span class="fa-heart"></span>
														0人喜欢
													</span>
												</div>
											</div>
										</div>
										<div class="flex-yin"></div>
									</a>
								</div>
								<div class="flex-item">
									<a href="javascript:;">
										<div class="box">
											<div class="imgbox" style="background: url(../images/sp-i.png) center center no-repeat;background-size:cover ;">
												<div class="ch1"></div>
											</div>
											<div class="title">
												<span class="title-name">游客中心</span>
												<ul>
													<li>
														<a href="javascript:;">
															<span class="fa-eye"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class=" fa-volume-up"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class=" fa-play-circle-o"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class="fa-map-marker"></span>
														</a>
													</li>
												</ul>
											</div>
											<div class="info">
												<p>
												坚持“以人为本”、“健康第一”的指导思想，注重“理论与实践结合，教学与科研并重”的宗旨记注重“理论与实践结合，教学与科研并重”的宗旨记
												</p>
												<div class="er-con-more">
													<a href="javascript:;"><span class=" fa-plus"></span>详细</a>
													<span class="er-food-likes">
														<span class="fa-heart"></span>
														0人喜欢
													</span>
												</div>
											</div>
										</div>
										<div class="flex-yin"></div>
									</a>
								</div>
								<div class="flex-item">
									<a href="javascript:;">
										<div class="box">
											<div class="imgbox" style="background: url(../images/sp-i.png) center center no-repeat;background-size:cover ;">
												<div class="ch1"></div>
											</div>
											<div class="title">
												<span class="title-name">游客中心</span>
												<ul>
													<li>
														<a href="javascript:;">
															<span class="fa-eye"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class=" fa-volume-up"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class=" fa-play-circle-o"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class="fa-map-marker"></span>
														</a>
													</li>
												</ul>
											</div>
											<div class="info">
												<p>
												坚持“以人为本”、“健康第一”的指导思想，注重“理论与实践结合，教学与科研并重”的宗旨记注重“理论与实践结合，教学与科研并重”的宗旨记
												</p>
												<div class="er-con-more">
													<a href="javascript:;"><span class=" fa-plus"></span>详细</a>
													<span class="er-food-likes">
														<span class="fa-heart"></span>
														0人喜欢
													</span>
												</div>
											</div>
										</div>
										<div class="flex-yin"></div>
									</a>
								</div>
								<div class="flex-item">
									<a href="javascript:;">
										<div class="box">
											<div class="imgbox" style="background: url(../images/sp-i.png) center center no-repeat;background-size:cover ;">
												<div class="ch1"></div>
											</div>
											<div class="title">
												<span class="title-name">游客中心</span>
												<ul>
													<li>
														<a href="javascript:;">
															<span class="fa-eye"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class=" fa-volume-up"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class=" fa-play-circle-o"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class="fa-map-marker"></span>
														</a>
													</li>
												</ul>
											</div>
											<div class="info">
												<p>
												坚持“以人为本”、“健康第一”的指导思想，注重“理论与实践结合，教学与科研并重”的宗旨记注重“理论与实践结合，教学与科研并重”的宗旨记
												</p>
												<div class="er-con-more">
													<a href="javascript:;"><span class=" fa-plus"></span>详细</a>
													<span class="er-food-likes">
														<span class="fa-heart"></span>
														0人喜欢
													</span>
												</div>
											</div>
										</div>
										<div class="flex-yin"></div>
									</a>
								</div>
								<div class="flex-item">
									<a href="javascript:;">
										<div class="box">
											<div class="imgbox" style="background: url(../images/sp-i.png) center center no-repeat;background-size:cover ;">
												<div class="ch1"></div>
											</div>
											<div class="title">
												<span class="title-name">游客中心</span>
												<ul>
													<li>
														<a href="javascript:;">
															<span class="fa-eye"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class=" fa-volume-up"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class=" fa-play-circle-o"></span>
														</a>
													</li>
													<li>
														<a href="javascript:;">
															<span class="fa-map-marker"></span>
														</a>
													</li>
												</ul>
											</div>
											<div class="info">
												<p>
												坚持“以人为本”、“健康第一”的指导思想，注重“理论与实践结合，教学与科研并重”的宗旨记注重“理论与实践结合，教学与科研并重”的宗旨记
												</p>
												<div class="er-con-more">
													<a href="javascript:;"><span class=" fa-plus"></span>详细</a>
													<span class="er-food-likes">
														<span class="fa-heart"></span>
														0人喜欢
													</span>
												</div>
											</div>
										</div>
										<div class="flex-yin"></div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tc-nav tc-box">
		<div class="tc-logo">
			<img src="../images/touch-logo.png" alt="">
		</div>
		<div class="tc-navbar">
			<ul>
				<li class="tc-navbar-list tc-vriver active">
					<a href="javascript:;">
						<span></span>
						走进黄鹤湖
					</a>
				</li>
				<li class="tc-navbar-list tc-vcul">
					<a href="javascript:;">
						<span></span>
						景区文化
					</a>
				</li>
				<li class="tc-navbar-list tc-vvideo">
					<a href="javascript:;">
						<span></span>
						景区影像
					</a>
				</li>
				<li class="tc-navbar-list tc-vpalys">
					<a href="javascript:;">
						<span></span>
						吃喝玩乐
					</a>
				</li>
				<li class="tc-navbar-list tc-vnews">
					<a href="javascript:;">
						<span></span>
						资讯/活动
					</a>
				</li>
				<li class="tc-navbar-list tc-vserver">
					<a href="javascript:;">
						<span></span>
						旅游服务
					</a>
				</li>
				<li class="tc-navbar-list tc-vaddr">
					<a href="javascript:;">
						<span></span>
						魅力内江
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="tc-direct tc-box">
		<div class="tc-drbox">
			<ul>
				<li class="tc-drbox-list tc-home">
					<a href="javascript:;">
						<span></span>
						主页
					</a>
				</li>
				<li class="tc-drbox-list tc-wchart">
					<a href="javascript:;">
						<span></span>
						官方微信
					</a>
				</li>
				<li class="tc-drbox-list tc-prev">
					<a href="javascript:;">
						<span></span>
						上一页
					</a>
				</li>
				<li class="tc-drbox-list tc-next">
					<a href="javascript:;">
						<span></span>
						下一页
					</a>
				</li>
			</ul>
		</div>
	</div>

	<script src='../js/jquery.min.js'></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/pic-slide.js"></script>
	<script src='../js/index.js'></script>
	<script>
	 var t1=new TouchScroll({id:'tch-videojd','width':5,'opacity':0.7,color:'#555',minLength:5});
	</script>

</body>
</html>