<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>三级页面</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<!-- 图标 CSS-->
    <link rel="stylesheet" href="../fonts/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="../fonts/web-icons/web-icons.css">
    <link rel="stylesheet" href="../fonts/font-awesomex/css/font-awesome.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/erstyle.css">
	<script type="text/javascript" src="../js/touchScroll.js"></script>
</head>
<body>
	<div class="tc-center tc-box">
		<div class="tc-content">
			<div class="tc-lines"><span></span></div>
			<div class="tc-head">
				<div class="about-title">
					<p class="banner-eg">什么什么景区景点</p>
				</div>
				<div class="san-search san-lines">
					<a href="javascript:;"><span class="fa-eye"></span>虚拟实景</a>
					<a href="javascript:;" class="san-audio">
						<span class=" fa-volume-up"></span>自助讲解
						<audio src="images/speed.mp3" controls style="vertical-align: middle;" id="audio"></audio>
					</a>
					<a href="javascript:;" class="san-maps-btn"><span class="fa-map-marker"></span>地图导航</a>
				</div>
				<div class="san-title">
					<span>作者：黄鹤湖旅游景区</span>
					<span>来源：黄鹤湖旅游景区 </span>
					<span>被查看 293次 </span> 
					<span>250人喜欢</span>
				</div>
				<div class="rx-lines"><span class="fa-angle-down"></span></div>
			</div>
			<div class="san-box">
				<div class="er-about-content" id="tch-addrcul">
					<div class="er-txtbox">
						<div class="er-txtinfo">
							<!-- <div class="san-search san-lines">
								<a href="javascript:;"><span class="fa-eye"></span>虚拟实景</a>
								<a href="javascript:;" class="san-audio">
									<span class=" fa-volume-up"></span>自助讲解
									<audio src="images/speed.mp3" controls style="vertical-align: middle;" id="audio"></audio>
								</a>
								<a href="javascript:;" class="san-maps-btn"><span class="fa-map-marker"></span>地图导航</a>
							</div> -->
							<div class="san-txt-img">
									<img src="../images/sp-i.png" alt="">
							</div>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。<br/>
							景区历史文化底蕴厚重。景区聚集了朝阳古街、复觉寺、朝阳寺、圣水寺，以及高居山坳的龙居山古牌坊，供奉福、禄、寿的三星庙等众多独具魅力的古迹，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。<br/>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村相映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。<br/>
							景区历史文化底蕴厚重。景区聚集了朝阳古街、复觉寺、朝阳寺、圣水寺，以及高居山坳的龙居山古牌坊，供奉福、禄、寿的三星庙等众多独具魅力的古迹，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。<br/>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村相映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。<br/>
							景区历史文化底蕴厚重。景区聚集了朝阳古街、复觉寺、朝阳寺、圣水寺，以及高居山坳的龙居山古牌坊，供奉福、禄、寿的三星庙等众多独具魅力的古迹，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。<br/>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村相映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。<br/>
							景区历史文化底蕴厚重。景区聚集了朝阳古街、复觉寺、朝阳寺、圣水寺，以及高居山坳的龙居山古牌坊，供奉福、禄、寿的三星庙等众多独具魅力的古迹，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。<br/>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村相映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。<br/>
							景区历史文化底蕴厚重。景区聚集了朝阳古街、复觉寺、朝阳寺、圣水寺，以及高居山坳的龙居山古牌坊，供奉福、禄、寿的三星庙等众多独具魅力的古迹，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。<br/>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村相映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。<br/>
							景区历史文化底蕴厚重。景区聚集了朝阳古街、复觉寺、朝阳寺、圣水寺，以及高居山坳的龙居山古牌坊，供奉福、禄、寿的三星庙等众多独具魅力的古迹，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。<br/>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村相映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。<br/>
							景区历史文化底蕴厚重。景区聚集了朝阳古街、复觉寺、朝阳寺、圣水寺，以及高居山坳的龙居山古牌坊，供奉福、禄、寿的三星庙等众多独具魅力的古迹，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。<br/>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村相映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。<br/>
							景区历史文化底蕴厚重。景区聚集了朝阳古街、复觉寺、朝阳寺、圣水寺，以及高居山坳的龙居山古牌坊，供奉福、禄、寿的三星庙等众多独具魅力的古迹，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。<br/>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村相映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。<br/>
							景区历史文化底蕴厚重。景区聚集了朝阳古街、复觉寺、朝阳寺、圣水寺，以及高居山坳的龙居山古牌坊，供奉福、禄、寿的三星庙等众多独具魅力的古迹，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。<br/>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村相映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。<br/>
							景区历史文化底蕴厚重。景区聚集了朝阳古街、复觉寺、朝阳寺、圣水寺，以及高居山坳的龙居山古牌坊，供奉福、禄、寿的三星庙等众多独具魅力的古迹，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。<br/>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村相映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。<br/>
							景区历史文化底蕴厚重。景区聚集了朝阳古街、复觉寺、朝阳寺、圣水寺，以及高居山坳的龙居山古牌坊，供奉福、禄、寿的三星庙等众多独具魅力的古迹，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。<br/>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村相映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。<br/>
							景区历史文化底蕴厚重。景区聚集了朝阳古街、复觉寺、朝阳寺、圣水寺，以及高居山坳的龙居山古牌坊，供奉福、禄、寿的三星庙等众多独具魅力的古迹，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。<br/>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村相映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来。<br/>
							景区历史文化底蕴厚重。景区聚集了朝阳古街、复觉寺、朝阳寺、圣水寺，以及高居山坳的龙居山古牌坊，供奉福、禄、寿的三星庙等众多独具魅力的古迹，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。<br/>
							黄鹤湖拥有“一步一景一幅画，一花一叶一片情”的迷人风韵，景区坐落于丘陵秀峰间，四周层峦叠嶂，山-林-水-村相映成趣，景区畅享着负离子浓度高达每立方厘米6000个以上的天然氧吧，使美不胜收的景致和心灵的愉悦感受纷至沓来，展示给人们一道道自然与人文交相辉映的靓丽风景。如今，黄鹤湖大力发展乡村旅游，推进黄鹤湖生态旅游度假区建设，成为人们度假休闲的好去处。
						</div>
						<div class="san-likes">
							<div class="san-lbox">
								<span class=" fa-thumbs-up licos"></span>
								<span class="litxt">
									<span>我喜欢 赞一个</span><br/>
									已有2024485赞
								</span>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="tc-nav tc-box">
		<div class="tc-logo">
			<img src="../images/touch-logo.png" alt="">
		</div>
		<div class="tc-navbar">
			<ul>
				<li class="tc-navbar-list tc-vriver active">
					<a href="javascript:;">
						<span></span>
						走进黄鹤湖
					</a>
				</li>
				<li class="tc-navbar-list tc-vcul">
					<a href="javascript:;">
						<span></span>
						景区文化
					</a>
				</li>
				<li class="tc-navbar-list tc-vvideo">
					<a href="javascript:;">
						<span></span>
						景区影像
					</a>
				</li>
				<li class="tc-navbar-list tc-vpalys">
					<a href="javascript:;">
						<span></span>
						吃喝玩乐
					</a>
				</li>
				<li class="tc-navbar-list tc-vnews">
					<a href="javascript:;">
						<span></span>
						资讯/活动
					</a>
				</li>
				<li class="tc-navbar-list tc-vserver">
					<a href="javascript:;">
						<span></span>
						旅游服务
					</a>
				</li>
				<li class="tc-navbar-list tc-vaddr">
					<a href="javascript:;">
						<span></span>
						魅力内江
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="tc-direct tc-box">
		<div class="tc-drbox">
			<ul>
				<li class="tc-drbox-list tc-home">
					<a href="javascript:;">
						<span></span>
						主页
					</a>
				</li>
				<li class="tc-drbox-list tc-wchart">
					<a href="javascript:;">
						<span></span>
						官方微信
					</a>
				</li>
				<li class="tc-drbox-list tc-prev">
					<a href="javascript:;">
						<span></span>
						上一页
					</a>
				</li>
				<li class="tc-drbox-list tc-next">
					<a href="javascript:;">
						<span></span>
						下一页
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- 微信活吗弹层 -->
	<div class="mask"></div>
	<div class="wx-imgs">
		<div class="wx-imgbox">
			<img src="../images/sp-i.png" alt="">
		</div>
		<div class="wx-center">
			<div class="wxc-head">
				<span class="wxc-img"></span>
				<span class="wxc-txt">
					景区官方微信客户端<br/>
					微信号：njhhhly
				</span>
			</div>
			<div class="wxc-foot">
				<span class="wxf-img"></span>
				<span class="wxc-txt">
					打开微信扫一扫<br/>
					关注我们，享受更多精彩
				</span>
			</div>
		</div>
		<div class="wx-back">
			<a href="javascript:;">点击返回</a>
		</div>
		<div class="wxh-left">
			<img src="../images/sp-i.png" alt="">
			<div class="wxh-txt">
				<span>微信直达</span><br/>
				打开微信扫一扫<br/>
				查看当前内容<br/>
				体验更加智能的旅游服务
			</div>
		</div>
		<div class="wxh-right">
			<img src="../images/sp-i.png" alt="">
			<div class="wxh-txt">
				景区官方微信客户端<br/>
				微信号：njhhhly<br/>
				打开微信扫一扫<br/>
				关注我们，享受更多精彩
			</div>
		</div>	
	</div>





	<script src='../js/jquery.min.js'></script>
	<script src="../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/pic-slide.js"></script>
	<script src='../js/index.js'></script>
	<script>
	 var t1=new TouchScroll({id:'tch-addrcul','width':5,'opacity':0.7,color:'#555',minLength:5});
	</script>

</body>
</html>